/*
*	Add Activity
*/
.frm-addActivity
	.numCircle
		border-color #ff1a7b
		color #ff1a7b
	.decorOpt-label.active.fix2quad
		.decorOptRad
			background-color #ff1a7b
			border-color #ff1a7b
	.decorOpt-label.active
		.glyph-radio, .crclIcon
			color #ff1a7b