.bx-wrapper
  position: relative
  padding 0px
  margin 0px
  *zoom:1
  img
    max-width 100%
    display block
.bx-wrapper .bx-loading
  min-height 50px
  background url(routImg+"hloader.gif") center center no-repeat
  height 100%
  width  100%
  position absolute
  top 0
  left 0px
  z-index 2000
.bx-wrapper .bx-caption
  position absolute
  bottom 0
  left 0
  background #666\9
  background rgba(80, 80, 80, 0.75)
  width 100%
.bx-wrapper .bx-caption span
  color #fff071
  display block
  font-family 13px
  padding 10px