.contenido-contacto
  width 970px
  margin 0px auto
  h2
    color #2ea4c3
    font-size 24px
    padding-top 27px
    padding-bottom 20px
  p
    color #cacaca
    font-size 16px
    width 382px
    padding-bottom 13px
  form
    width 382px
    input
      background #2b2b2b
      border 1px solid #ababab
      height 32px
      width 100%
      margin-bottom 10px
      padding 5px 10px
      color #d9d9d9
      font-size 15px
    textarea
      background #2b2b2b
      border 1px solid #ababab
      width 100%
      margin-bottom 10px
      padding 5px 10px
      color #d9d9d9
      font-size 15px
      height 70px
    button
      width 79px
      font-size 13px
      height 39px
      background #2ea4c3
.columna1
  float left
  width 568px
.columna2
  float left
  width 390px
  strong
    font-size 16px
  ul
    margin-top 20px
    color #b3b3b3
    font-size 16px
    li
      margin-bottom 20px
      p
        float left
        width 170px
      i
        float left
        margin-right 15px

.imagen-principal
  text-align center