i.isprite
	margin-right 5px
	&.icAddressPin
		margin 1px 5px 0 3px
.fondo-evento
	background white
.container-evento
	width 970px
	margin 0px auto
	.page-ctn
		margin 0 0 0 24px
	.page-info
		margin-top 150px
.detalle-evento
	font-family family2
	float left
	position relative
	top -220px
	width 290px
	.page-title
		color #95c11f
		margin-bottom 12px
	p
		font-size 17px
		margin-bottom 16px
.sombra
	position relative
	top -10px
.extra-evento
	float left
	width 640px
	position relative
	font-family family2
.redes-evento
	padding-top 5px
	padding-bottom 22px
	margin-bottom 0px !important
	color #000000
.lista-evento
	font-family family3
	float left
	color #373737
	font-size 13px
	ul
		width 112px
		float left
	li
		float left
		width 112px
		margin-bottom 10px
	i
		float left
		margin-right 7px
		width 19px !important
		position relative
		top -1px
.lista-info-evento
	font-family family3
	float left
	color #2ea4c3
	font-size 13px
	margin-left 10px
	ul li
		margin-bottom 14px
.mapa
	margin-top 20px
	margin-bottom 10px
.contenido-extra
	color #787878
	font-size 14px !important
	margin-bottom 15px

.botones-eventos
	padding-top 30px
	float right
	margin-bottom 35px
	a
		color  #fefefe
		font-size 13px
.btnselect
	background #2ea4c3
	margin-right 10px
	padding 12px 15px
	border-radius 5px 5px
.btnticket
	background #e68900
	padding 12px 59px
	border-radius 5px 5px
.slider-imagenes,.videos
	margin-bottom 15px
#tabs
	background #c5c8ce
	color #787878
	li
		float left
		margin-right 5px
		a
			display block
			padding 17px 30px
			background #c5c8ce
			color #787878
#tabs_container
	background #eaeaea
	color #787878
	overflow hidden
	font-family family3
	font-size 14px
	padding 20px 20px
	line-height 20px
	p
		padding-bottom 10px
.tabulous_active
	background  #eaeaea !important
	color #2ea4c3 !important
.miniaturas
	padding-top 15px
	img
		margin-right 15px
.nomargin
	margin 0px !important
.pasarela
	margin-bottom 30px
	padding-left 21px
	float left
	margin-top 10px
	a
		color #fefefe
		font-size 13px
		margin-right 10px
	img
		margin-right 10px
	form
		display inline
		input
			width 238px
			padding 12px 15px
			border none
			background #eaeaea
			color #99abb7
			font-size 13px
		button
			background #2ea4c3
			width 79px
			height 38px
			font-size 13px
			position relative
			left -12px
.mini-btn
	padding 12px 28px
#mapa
	width 278px
	height 148px
	margin-bottom 15px
