i.isprite
	margin-right 5px
	&.icAddressPin
		margin 1px 5px 0 3px
.fondo-evento
	background white
.container-evento
	width 970px
	margin 0px auto
	.page-ctn
		margin 0 0 0 24px
	.page-info
		margin-top 150px
.detalle-evento
	font-family family2
	float left
	position relative
	top -220px
	width 290px
	.page-title
		color #95c11f
		margin-bottom 12px
	p
		font-size 17px
		margin-bottom 16px
.sombra
	position relative
	top -10px
.extra-evento
	float left
	width 640px
	position relative
	font-family family2
.redes-evento
	padding-top 22px
	padding-bottom 22px
	margin-bottom 0px !important
	float left
	color #000000
	margin-left 23px
.redes-evento-twitter
	padding-top 22px
	padding-bottom 22px
	margin-left 11px
	float left
.lista-evento
	font-family family3
	float left
	color #373737
	font-size 13px
	ul
		width 112px
		float left
	li
		float left
		width 112px
		margin-bottom 10px
	i
		float left
		margin-right 7px
		width 19px !important
		position relative
		top -1px
.lista-info-evento
	font-family family3
	float left
	color #2ea4c3
	font-size 13px
	margin-left 10px
	ul li
		margin-bottom 14px
.mapa
	margin-top 20px
	margin-bottom 10px
.contenido-extra
	color #787878
	font-size 14px !important
	margin-bottom 15px

.botones-eventos
	padding-top 30px
	float right
	margin-bottom 35px
	a
		color  #fefefe
		font-size 13px
.btnselect
	background #2ea4c3
	margin-right 10px
	padding 12px 15px
	border-radius 5px 5px
.btnticket
	background #e68900
	padding 12px 59px
	border-radius 5px 5px
.slider-imagenes,.videos
	margin-bottom 15px
	.slider-imagen
		position relative
		.subtitle
			position absolute
			bottom 0
			left 0
			width 100%
			color #fff
			background url(routImg+'bgOpacity.png')
			height 70px
			padding 18px 23px
			box-sizing border-box
			line-height 17px
			font-size 13px
#tabs
	color #787878
	border none
	li
		float left
		a
			display block
			padding 11px 17px
			background #c5c8ce
			color #787878
			font-size 14px
			font-family family2
.ui-tabs
	border-radius 0px
	position relative
.ui-tabs .ui-tabs-nav
	margin 0px
	background #c5c8ce
	border none
	border-radius 0px
.ui-tabs .ui-tabs-nav li
	list-style none
	float left
	position relative
	top 0
	margin 0
	border none
	border-right 1px solid #9ea0a3
	border-bottom-width 0
	font-family family3
	padding 0
	white-space nowrap
.ui-tabs .ui-tabs-nav .ui-tabs-anchor
	float left
	padding .5em 1em
	text-decoration none
.ui-tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor,
.ui-tabs .ui-tabs-nav li.ui-state-disabled .ui-tabs-anchor,
.ui-tabs .ui-tabs-nav li.ui-tabs-loading .ui-tabs-anchor
	cursor text
	background  #eaeaea !important
	color #2ea4c3 !important
.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor
	cursor pointer
.ui-tabs .ui-tabs-panel
	display block
	border-width 0px
	padding 1em 1.4em
	background #eaeaea
	font-family family3
	font-size 14px
	color #787878
	line-height 20px
	p
		padding-bottom 10px
.miniaturas
	margin-top 15px
	img
		width 116px
	a
		display block
		float left
		position relative
		margin-left 15px
		&:first-child
			margin-left 0
		&.active
			.opacityLayer
				display none
	.opacityLayer
		height 100%
		position absolute
		width 100%
		top 0
		left 0
		background url(routImg+"bgOpacity.png")
.nomargin
	margin 0px !important
.pasarela
	margin-bottom 30px
	padding-left 21px
	float left
	margin-top 10px
	a
		color #fefefe
		font-size 13px
		margin-right 10px
	img
		margin-right 10px
	form
		display inline
		input
			width 238px
			padding 12px 15px
			border none
			background #eaeaea
			color #99abb7
			font-size 13px
		button
			background #2ea4c3
			width 79px
			height 38px
			font-size 13px
			position relative
			left -12px
.mini-btn
	padding 12px 28px
#mapa
	width 278px
	height 148px
	margin-bottom 15px
.imprimir
	position absolute
	right 10px
	top 10px
	span
		float left
	i
		float left
		margin-left 10px
.cast,.produce
	color #2ea4c3
.contenido-produce
	margin 0
	p
		padding-bottom 0px !important
	img
		float left
		margin-right 20px