.container-local
	.page-title
		margin-bottom 7px
	.hltext
		margin-top 5px
	.address2
		margin-top 10px
	.btnDirections 
		margin-top 16px
.hltext
	margin-top 5px
.address2
	font-size 14px
.ctn360view
	color #787878
.venue-events
	color #949494
	border 1px solid #d0d0d0
	background #f9f9f9
	tr
		border-top 1px solid #d0d0d0
	td
		&.active
			color #2ea4c3
			border-bottom 3px solid #2ea4c3
			a
				color #2ea4c3
	thead
		td:first-child
			width 142px