.container-local
	.page-info
		margin-top 150px
		.page-subtitlebg
			font-family family2
	.page-ctn
		margin-bottom 85px
	.page-title
		margin-bottom 7px
	.hltext
		margin-top 5px
	.address2
		margin-top 10px
	.btnDirections 
		margin-top 16px
		font-family family2
.hltext
	margin-top 5px
.address2
	font-size 14px
	font-family family1
.ctn360view
	color #787878
.venue-events
	color #949494
	border 1px solid #d0d0d0
	background #f9f9f9
	font-size 14px
	tr
		border-top 1px solid #d0d0d0
	td
		color #949494
		padding-left 12px
		&.active
			color #2ea4c3
			border-bottom 3px solid #2ea4c3
			a
				color #2ea4c3
		a
			color #949494
	thead
		td
			padding 8px 0 3px 22px
			&:first-child
				width 142px
			a
				display block
				font-size 14px
	tfoot
		tr
			height 27px
			border 0
			border-top 1px solid #d0d0d0
	.nowShow
		width 142px
	.dates
		padding 23px 12px
		font-family family2
	.imgTable
		width 71px
	.mclass
		padding-left 24px
	.buyTicks
		a
			font-size 16px
			color #fff
			width 100px
			padding 13px 11px
			box-sizing border-box
			float right
			margin-right 15px
			font-family family2
			text-align center
.ctn360view
	margin-top 30px
	h3
		color #2ea4c3
	.streetview
		margin-top 9px
		width 620px
		height 203px
	p
		line-height 18px
		font-size 14px
		font-family family3
	.ctnDescription
		margin-top 18px
	ul
		float left
		margin-left 30px
		&:first-child
			margin-left 0
			font-family family2
		li
			line-height 24px
			font-family family3
			font-size 14px