.general-bg
  //background url(routImg+"bg-body.jpg")
.container-noticias
  width 970px
  margin 0px auto
  padding-top 39px
.contenido-noticias
  float left
  width 700px
  article
    width 560px
    h2
      font-size 25px
      color #2ea4c3
      padding-bottom 17px
.redes-sociales
  padding-top 23px
  padding-bottom 27px
.descripcion
  margin-bottom 29px
  strong
    font-size 14px
  p
    color #a2a2a2
    line-height 18px
    margin-top 10px
    font-size 14px
    font-family family3
.ver-noticia
  float right
  margin-bottom 58px
  a
    color white
    background #e68900
    padding 7px 15px
    border-radius 5px 5px
    font-size 13px
.fechas-noticias
  float left
.fechas
  padding-top 15px
  font-size 16px
  p
    font-size 20px
    padding-bottom 12px
  ul li
    padding-bottom 10px
    a
      color #a1b1bc
.noticias-pasadas
  padding-bottom 36px
  a
    color #2ea4c3
    text-decoration underline