.contenido-resultados
	width 970px
	margin 0px auto
	padding-top 39px
.opciones-busquedad
	float left
	width 310px
.opcion
	width 232px
	padding-bottom 21px
	border-bottom 1px solid #313131
	margin-bottom 18px
	label
		display block
		padding-bottom 15px
		cursor default
		font-size 18px
	select
		height auto
		width 233px
		padding 10px 15px
	button
		width 77px
		background #2ea4c3
		height 40px
		font-size 13px

#category-resultados
	border none
	background #212121
	color white
	font-size 13px
	font-family famlily3
	font-weight bold
	option
		margin-bottom 10px
#cbowhere
	border none
	background #313131
	height 40px
	color #a1b1bc
	font-size 13px
#precio1 ,#precio2
	width 68px
	height 40px
	background #313131
	border none
	color #a1b1bc
	padding 5px 20px
	margin-right 4px
	font-size 13px
.ordenar-radio
	font-size 13px
	color #bdbdbd
	padding-bottom 5px
	span
		position relative
		left 10px
.rango-fechas
	margin-top 19px
.input-fechas
	position relative
	input
		background #313131
		height 40px
		width 230px
		font-size 13px
		color #7d7d7d
		border none
		margin-bottom 10px
		padding 5px 10px
	i
		position absolute
		top 10px
		right 10px
.resaltado
	color #95c11f
.resultados
	float left
	width 660px
	h2
		font-size 18px
		font-family famlily2
	section
		width 636px
		article
			min-height 202px
			padding-bottom 30px
			border-bottom 1px solid #212121
			padding-top 30px
			img
				float left
				margin-right 13px
.contenido-evento
	float left
	font-size 13px
	color #bdbdbc
	width 466px
	h3
		font-size 18px
		color #2ea4c3
		padding-bottom 17px
		font-family family2
	p
		line-height 18px
		padding-bottom 15px
		font-family family3
	i
		float left
		margin-right 10px
	ul li
		padding-bottom 10px
		font-family family3
.btn-irevento
	float right
	a
		color white
		background #e68900
		width 112px
		height 40px
		padding 9px 27px
		border-radius 5px 5px
		&:hover
			background  #ffb444
.resultafecha2
	color #21c2f8 !important
.resultafecha1
	color #ffffff !important