.ctn-wrapper
	position relative
.bgtransparent
	background url(routImg+"bgOpacitystronge.png")
	height 100%
	position absolute
	width 100%
	z-index 1
.container-seller
	.box-center
		position relative
		z-index 100
		.sidebar-info
			margin-left 11px
		.layer2
			background #fff
			height 100%
			opacity 0.41
			position absolute
			width 100%
		.ctnSeller
			padding 45px 5px 58px 5px
		.page-ctn
			margin 0 0 0 6px
			hr
				margin-top 
		.web-seller
			//color #808080
			color #b5b5b5
			display block
			font-size 17px
			margin-top 30px
			text-align center
			width 100%
	.ctnSocialMedia
		font-family family2
		margin-left 50px
		margin-top 40px
		li
			height 55px
			i
				text-align center
				width 21px
			.icFacebookcontacto
				margin-left 3px
			a
				color #b5b5b5
.seller-information
	background #f1f1f1
	border 2px solid #cacaca
	color #787878
	padding 19px 35px 20px 25px
	h3
		font-size 23px
	p
		font-family family3
		margin-top 17
		&:first-child
			margin-top 14px
	.contact-info
		margin-top 16px
.show-detail-block
	color #bdbdbd
	font-size 13px
	position relative
	&.nowShowing
		margin-top 13px
	&.comingSoon
		margin-top 22px
	&.past-events
		margin-top 42px
	.title
		border-bottom 3px solid #e68900
		.tab-title
			background #e68900
			border-radius 3px 3px 0 0
			box-sizing border-box
			color #fff
			font-size 17px
			height 27px
			padding 6px 0 0 4px
			width 140px
		.seeThemAll
			float right
			margin 4px 10px 0 0
	.cnt-detail
		padding-top 10px
	.imgCtn
		float left
	.information
		float left
		margin-left 22px
		width 450px
		p
			font-family family3
		h3
			font-size 18px
			margin-bottom 18px
			margin-top 20px
		.more-information
			font-family family3
			margin-left -4px
			margin-top 28px
			width 340px
			li
				line-height 21px
			i
				margin 4px 4px 0 0
	.btn
		bottom 0
		color #fff
		font-family family3
		font-size 13px
		height 40px
		padding 11px 18px 14px 24px
		position absolute
		right 0
		text-align center
		width 110px
.past-events
	.cnt-detail
		padding-top 13px
	.title
		border-bottom 0
		a
			color #b8b8b8
		.tab-title
			background #2EA4C3
	.cnt-detail
		background #efefef
		border 1px solid #cacaca
	.list-events
		li
			float left
			margin 0 9.75px
			padding-bottom 12px
			text-align center
		h3
			margin-top 5px
		span
			font-family family2
			margin-top 3px
		a
			color #cacaca