.ctn-wrapper
	position relative
.bgtransparent
	background url(routImg+"bgOpacitystronge.png")
	height 100%
	width 100%
	position absolute
	z-index 1
.container-seller
	.box-center
		z-index 100
		position relative
		.sidebar-info
			margin-left 11px
		.layer2
			background #fff
			height 100%
			opacity 0.41
			position absolute
			width 100%
		.ctnSeller
			padding 45px 5px 0px 5px
		.page-ctn
			margin 0 0 0 6px
		.web-seller
			//color #b5b5b5 truecolor
			color #808080
			font-size 17px
			text-align center
			width 100%
			display block
			margin-top 30px