
block content
    .imagen-principal-interno
        img(src!="<?php echo STATIC_URL ?>/img/img-prueba/contacto.jpg")
    .contenido-contacto
        h2 Contacto
        .columna1
            p Si desea contactarse con nosotros, por favor  llene con sus datos los campos de la parte inerior, nosotros contestaremos a la brevedad posible. Gracias
            form(id="formcontacto")
                input(type="text",id="nombre",name="nombre",placeholder="Nombres",class="place")
                input(type="text",id="apellidos",name="apellidos",placeholder="Apellidos",class="place")
                input(type="email",id="correo",name="correo",placeholder="Correo",class="place")
                textarea(id="mensaje",name="mensaje",col=10,class="place") Escribe aqui tu mensaje
                button Enviar
        .columna2
            strong LaBoleteria.pe
            ul
                li
                    i.sprite.icUbicacion
                    p 1-6 Olympia Mews, <br> Bayswater Business Centre London W2 3SA
                .clear
                li
                    i.sprite.icMailcontacto
                    span tom@wiseyeti.co.uk
                li
                    i.sprite.icTelefono
                    span +44(0) 7827 233 753
                li
                    i.sprite.icFacebookcontacto
                    span facebook.com/laboleteria
                li
                    i.sprite.icTwittercontacto
                    span twittwer.com/laboleteria
                li
                    i.sprite.icYoutubecontacto
                    span youtube.com/laboleteria
                li
                    i.sprite.icGooglecontacto
                    span google.com/laboleteria

        .clear

    .clear

