block content
    .container-noticias
        section.contenido-noticias
            article
                h2 <?php echo $this->noticia['titulo']; ?>
                img(src!="<?php echo DINAMIC_URL ?>/noticias/<?php echo $this->noticia['imagenPrincipal']; ?>")
                .redes-noticias
                    a(href="", target="_blank").fbShare
                .redes-google
                    | <g:plusone size="medium"></g:plusone>
                .redes-noticias-twitter
                    a(href="https://twitter.com/share",class="twitter-share-button") Tweet
                .clear
                .descripcion
                    strong Date <?php echo date('M d, Y',strtotime($this->noticia['fechaInicioPublicacion'])); ?>
                    p <?php echo $this->noticia['contenido']; ?>
                .clear
        .fechas-noticias
            .fechas
                <?php if(count($this->fechas)>0){ ?>
                p Fecha
                ul
                    <?php   foreach ($this->fechas as $key => $value) { ?>
                    li
                        a(href!="<?php echo $this->url(array('date'=>date('Y-m',strtotime($value['fechaInicioPublicacion']))),'noticias'); ?>" , class!="<?php echo date('Y-m',strtotime($value['fechaInicioPublicacion']))==$this->mesActual?'active':''; ?>") <?php echo date('F Y',strtotime($value['fechaInicioPublicacion'])); ?>
                    <?php } ?>
                <?php } ?>
    .clear