block content
    .imagen-principal
        img(src!="<?php echo STATIC_URL ?>/img/img-prueba/fondo-evento.jpg")
    .fondo-evento.row
        .box-center.container-evento
            .page-info
                h2.page-title <?php echo $this->evento['titulo']; ?>
                br
                p.page-subtitle <?php echo $this->evento['subTitulo']; ?>
            .sidebar-info.row
                .imgCtn
                    img(src!="<?php echo DINAMIC_URL ?>/eventos/<?php echo $this->evento['evento_contenido_imagenprincipal']; ?>")
                #fb-root
                .redes-evento
                    a(href="http://www.facebook.com/sharer.php?s=100&p[url]=http://developando.com?s=100&p[title]=Conoce+a+Developando&p[images][0]=http://developando.com/images/developandoLogo.jpeg&p[summary]=Desarrollo+web+y+movil") Compartir FB
                    //.fb-like(data-href="https://developers.facebook.com/docs/plugins/",data-layout="button_count",data-action="like",data-show-faces="true",data-share="false")
                .redes-evento-twitter
                    a(href="https://twitter.com/share",class="twitter-share-button") Tweet
                .clear
                .lista-evento
                    ul
                        li
                            i.sprite.icCategoria
                            span Category:
                        li
                            i.sprite.icDate
                            span Release Date
                        li
                            i.sprite.icDuracion
                            span Hora:
                        li
                            i.sprite.icAge(style="left:-2px;")
                            span Age restriction:
                .lista-info-evento
                    ul
                        li  <?php echo $this->evento['subcategoria_nombres']; ?>
                        li  <?php echo date('F d,Y',strtotime($this->evento['fechaInicioPublicacion'])); ?>
                        li  <?php echo date('H:i',strtotime($this->evento['hora']));//date('H \h\o\u\r \a\n\d i \m\i\n\s',strtotime($this->evento['hora'])); ?>
                        li  <?php echo $this->evento['restriccionEdad']; ?> +
                #mapa
                p.contenido-extra Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                p.ver-venue
                    a(href!="<?php echo $this->url(array('id'=>$this->evento['venue_id']),'venue'); ?>" , class="btn-evenue")
                        img(src!="<?php echo STATIC_URL ?>/img/btn-venue.png")
            .page-ctn
                .extra-evento
                    #tabs
                        .imprimir
                            span A- A+
                            i.sprite.icPrint
                        ul
                            <?php if(!empty($this->evento['tag1'])): ?>
                            li
                                a(href="#tabs-1" ) <?php echo $this->evento['tag1']; ?>
                            <?php endif; ?>
                            <?php if(!empty($this->evento['tag2'])): ?>
                            li
                                a(href="#tabs-2" ) <?php echo $this->evento['tag2']; ?>
                            <?php endif; ?>
                            <?php if(!empty($this->evento['tag3'])): ?>
                            li
                                a(href="#tabs-3" ) <?php echo $this->evento['tag3']; ?>
                            <?php endif; ?>
                            <?php if(!empty($this->evento['tag4'])): ?>
                            li
                                a(href="#tabs-4" ) <?php echo $this->evento['tag4']; ?>
                            <?php endif; ?>
                            <?php if(!empty($this->evento['tag5'])): ?>
                            li
                                a(href="#tabs-5" ) <?php echo $this->evento['tag5']; ?>
                            <?php endif; ?>
                        <?php if(!empty($this->evento['tag1'])): ?>
                        #tabs-1
                            p <?php echo $this->evento['evento_contenido_contenidoTag1']; ?>
                        <?php endif; ?>
                        <?php if(!empty($this->evento['tag2'])): ?>
                        #tabs-2
                            p <?php echo $this->evento['evento_contenido_contenidoTag2']; ?>
                        <?php endif; ?>
                        <?php if(!empty($this->evento['tag3'])): ?>
                        #tabs-3
                            p <?php echo $this->evento['evento_contenido_contenidoTag3']; ?>
                        <?php endif; ?>
                        <?php if(!empty($this->evento['tag4'])): ?>
                        #tabs-4
                            p <?php echo $this->evento['evento_contenido_contenidoTag4']; ?>
                        <?php endif; ?>
                        <?php if(!empty($this->evento['tag5'])): ?>
                        #tabs-5
                            p <?php echo $this->evento['evento_contenido_contenidoTag5']; ?>
                        <?php endif; ?>
                    .botones-eventos
                        a(href="#tabs-1" ,class="btnselect") Select  Best Available Seats
                        a(href="#tabs-1" ,class="btnticket") Buy Tickets
                    .slider-imagenes.row
                        .slider-imagen.fl
                            .innerCtn
                                //img(src!="<?php echo STATIC_URL ?>/img/img-prueba/slide1.jpg").toReplace
                                img(src="https://www.concertsquare.jp/files/image/show/2014063012.jpg", width="640").toReplace
                                .subtitle hola bola
                        .miniaturas.fl.lknGallery
                            a(href="javascript:;",data-subtitle="habla bateria",data-src="http://www.naqak.com/fotos/luna/luna_guitars_apl_tat.jpg")
                                img(src!="<?php echo STATIC_URL ?>/img/img-prueba/thumb1.jpg")
                                .opacityLayer
                            a(href="javascript:;",data-subtitle="habla baterio",data-src="http://www.naqak.com/fotos/luna/luna_guitars_apl_tat.jpg")
                                img(src!="<?php echo STATIC_URL ?>/img/img-prueba/thumb2.jpg")
                                .opacityLayer
                            a(href="javascript:;",data-subtitle="another subtitle", data-src="https://www.concertsquare.jp/files/image/show/2014063012.jpg")
                                img(src!="<?php echo STATIC_URL ?>/img/img-prueba/thumb3.jpg")
                                .opacityLayer
                            a(href="javascript:;")
                                img(src!="<?php echo STATIC_URL ?>/img/img-prueba/thumb4.jpg")
                                .opacityLayer
                            a(href="javascript:;")
                                img(src!="<?php echo STATIC_URL ?>/img/img-prueba/thumb5.jpg")
                                .opacityLayer
                    .videos.row
                        ul.video-principal
                            .innerCtn
                                iframe(src="http://www.youtube.com/embed/3s9sH82rHjI",width="640",height="360",frameborder="0",allowfullscreen="true").toReplace
                        .miniaturas.lknGallery
                            a(href="javascript:;", data-isvideo='true', data-src="http://www.youtube.com/embed/3DAIgaOb-Ig")
                                img(src!="http://img.youtube.com/vi/3s9sH82rHjI/1.jpg")
                                .opacityLayer
                            a(href="javascript:;", data-isvideo='true', data-src="http://www.youtube.com/embed/NsyP2NkE2G0")
                                img(src!="http://img.youtube.com/vi/3DAIgaOb-Ig/1.jpg")
                                .opacityLayer
                            a(href="javascript:;", data-isvideo='true', data-src="http://www.youtube.com/embed/94xvfWpuEWM")
                                img(src!="http://img.youtube.com/vi/NsyP2NkE2G0/1.jpg")
                                .opacityLayer
                            a(href="javascript:;", data-isvideo='true', data-src="")
                                img(src!="http://img.youtube.com/vi/94xvfWpuEWM/1.jpg")
                                .opacityLayer
                            a(href="javascript:;", data-isvideo='true', data-src="")
                                img(src!="http://img.youtube.com/vi/Jbmf_O8Mul8/1.jpg")
                                .opacityLayer
            .pasarela
                img(src!="<?php echo STATIC_URL ?>/img/pasarela.png")
                a(href="#tabs-1" ,class="btnticket mini-btn") Buy Tickets
                a(href="#tabs-1" ,class="btnselect") Select  Best Available Seats
                form
                    input(type="text",name="evento-suscribir", id="evento-suscribir",placeholder="Enter Your Email")
                    button Subscribe
            .clear
script(type="text/template", id="toReplace")
    .innerCtn
        //img(src!="<?php echo STATIC_URL ?>/img/img-prueba/slide1.jpg").toReplace
        {{ if(!isVideo){ }}
        {{= isVideo }}
        img(src!="{{= fuente }}", width="640").toReplace
        .subtitle {{= subtitulo }}
        {{ }else{ }}
        {{= isVideo }}
        iframe(src!="{{= fuente }}",width="640",height="360",frameborder="0",allowfullscreen="true").toReplace
        {{ } }}