block content
	Header
		h1
			a(href!="<?php echo BASE_URL ?>")
				img(src!="<?php echo STATIC_URL ?>/img/logo.png")
		nav.menu-home
			ul
				li
					a(href="javascript:;") Ayuda
				li
					a(href="javascript:;") login
				li
					a(href="javascript:;") Register
				//li.icono-search
				//	a(href="javascript:;")
				//		i.sprite.icSearch
	.clear
	.slider-home
		ul.contenido-slider.bxslider
			<?php if(count($this->eventoDestacados)>0){ 
			|	foreach ($this->eventoDestacados as $key => $value) { ?>
			li
				img(src!="<?php echo DINAMIC_URL ?>/eventos/destacado/<?php echo $value['nombreImagen']; ?>")
				.entrada
					h2 <?php echo $value['evento_titulo']; ?>
					p <?php echo $value['descripcion']; ?>
					a(data-id!="<?php echo $value['idEvento']; ?>",href="javascript:;") COMPRAR ENTRADAS
				<?php }} ?>

			li
				img(src!="<?php echo STATIC_URL ?>/img/img-prueba/sliderhome1.jpg")
				.entrada
					h2 LOREM IPSUM SIT
					p Magna Amet Vestibulum Parispatis Ante Elit
					a(href="javascript:;") COMPRAR ENTRADAS
			li
				img(src!="<?php echo STATIC_URL ?>/img/img-prueba/sliderhome1.jpg")
				.entrada
					h2 LOREM IPSUM SIT
					p Magna Amet Vestibulum Parispatis Ante Elit
					a(href="javascript:;") COMPRAR ENTRADAS
	.contenido-search
		.container-search
			form
				<?php echo $this->form->getElement('category') ?>
				<?php echo $this->form->getElement('venue') ?>
				//.box-input
				//	input(id="day",name="day",placeholder="day")
				//	i.sprite.icCboicon2
				.box-input
					input(type="text",placeholder="from",class="fecha1",value!="<?php echo $this->from_display; ?>")
					<?php echo $this->form->getElement('from') ?>
					i.sprite.icCboicon2
				.box-input
					input(type="text",placeholder="To",class="fecha2",value!="<?php echo $this->to_display; ?>")
					<?php echo $this->form->getElement('to') ?>
					i.sprite.icCboicon2
				button(id="search",type="submit") SEARCH
	.menu-categorias.row
		ul.listado-categorias.row
			li.categoria1
				a(href="javascript:;")
					img(src!="<?php echo STATIC_URL ?>/img/categorias/todo.png")
					br
					span TODO
			<?php if(count($this->categorias)>0){
			|	foreach ($this->categorias as $key => $value) { ?>
			li(class!="",style!="background: none repeat scroll 0 0 <?php echo $value['codigoColor']; ?>;")
				a(href="javascript:;",data-id!="<?php echo $value['id']; ?>")
					img(onerror!="this.onerror=null; this.src='<?php echo STATIC_URL . '/img/categorias/exposicion.png'; ?>';", src!="<?php echo !empty($value['icono'])?DINAMIC_URL . '/categoria/icono/'. $value['icono']:STATIC_URL . '/img/categorias/exposicion.png'; ?>")
					br
					span <?php echo strtoupper($value['nombre']); ?>
			<?php }} ?>
	.clear
	.contenido-eventos
		.container-eventos
			<?php $styles=''; if(count($this->search)>0){
			|	foreach ($this->search as $key => $value) { ?>
			.box
				<?php if(!empty($value['evento_tag_color'])){?>
				<?php $styles .= '.tag'.$value['id'].':after {position:absolute; border-color: '.$value['evento_tag_coloroscuro'].' '.$value['evento_tag_coloroscuro'].' transparent transparent;border-style: solid;border-width: 5px 10px;content: " ";height: 0;left: 0;top: 100%;width: 0;} .tag'.$value['id'].' {background-color: '.$value['evento_tag_color'].';color: #fff;font-size: 16px;font-weight: bold;left: -20px;min-width: 12%;padding: 8px 24px;position: absolute;text-transform: uppercase;top: 23px;} ';?>
				div(class!="tag<?php echo $value['id']; ?>") <?php echo $value['evento_tag_nametag']; ?>
				<?php } ?>
				img(src!="<?php echo DINAMIC_URL ?>/eventos/banner/home/<?php echo $value['evento_contenido_imagenprincipal']; ?>",class="img-responsive")
				.subtitulo
					p(style!="background: none repeat scroll 0 0 <?php echo $value['categoria_color']; ?>;")
						img(onerror!="this.onerror=null; this.src='<?php echo STATIC_URL . '/img/categorias/exposicion.png'; ?>';",src!="<?php echo DINAMIC_URL ?>/categoria/icono/<?php echo $value['categoria_icono']; ?>" ,class="img-subtitulo")
						span <?php echo $value['categoria_name']; ?>
					a(href="javascript:;",class="social-box")
						i.sprite.icFacebook
					a(href="javascript:;",class="social-box")
						i.sprite.icTwitter
				.clear
				.contenido-box
					p
						strong	<?php echo $value['titulo']; ?>
					p.espacio-box
						i.sprite.icCboicon2.icono-fecha
						span <?php echo date('M d',strtotime($value['evento_contenido_fechainicio'])) .' - '.date('M d',strtotime($value['evento_contenido_fechafin'])); ?>, <?php echo date('H:i',strtotime($value['hora'])); ?>h
					p.text-box <?php echo $value['descripcionCorta']; ?>
					p
						a(href="javascript:;",class="comprar-entradas") COMPRAR ENTRADAS
			<?php }}?>
			<?php $this->headStyle()->appendStyle($styles);?>
			.box
				.ribbon new
				.esquina
				img(src!="<?php echo STATIC_URL ?>/img/img-prueba/img1.jpg",class="img-responsive")
				.subtitulo
					p.categoria2
						img(src!="<?php echo STATIC_URL ?>/img/categorias/teatro.png" ,class="img-subtitulo")
						span teatro
					a(href="javascript:;",class="social-box")
						i.sprite.icFacebook
					a(href="javascript:;",class="social-box")
						i.sprite.icTwitter

				.clear
				.contenido-box
					p
						strong	Lorem Ipsum Dolor Sit
					p.espacio-box
						i.sprite.icCboicon2.icono-fecha
						span Nov 10-11, 8pm onwards
					p.text-box Aeorem Ipum Dolor Sit Amet Magna Elita. Lorem Ipsum Elitm.Dolor Sit Amet Magna Elitam vestibulumty. MAgna parispatis
					p
						a(href="javascript:;",class="comprar-entradas") COMPRAR ENTRADAS
			.box
				.ribbon new
				.esquina
				a(href="javascript:;")
					img(src!="<?php echo STATIC_URL ?>/img/img-prueba/img5.jpg",class="img-responsive")
				.subtitulo
					p.categoria5
						img(src!="<?php echo STATIC_URL ?>/img/categorias/musica.png" ,class="img-subtitulo")
						span MÚSICA
					a(href="javascript:;",class="social-box")
						i.sprite.icFacebook
					a(href="javascript:;",class="social-box")
						i.sprite.icTwitter

				.clear
				.contenido-box
					p
						a(href="javascript:;")
							strong Lorem Ipsum Dolor Sit
					p.espacio-box
						i.sprite.icCboicon2.icono-fecha
						span Nov 10-11, 8pm onwards
					p.text-box Aeorem Ipum Dolor Sit Amet Magna Elita. Lorem Ipsum Elitm.Dolor Sit Amet Magna Elitam vestibulumty. MAgna parispatis
					p
						a(href="javascript:;",class="comprar-entradas") COMPRAR ENTRADAS
			.box
				.ribbon new
				.esquina
				a(href="javascript:;")
					img(src!="<?php echo STATIC_URL ?>/img/img-prueba/img6.jpg",class="img-responsive")
				.subtitulo
					p.categoria4
						img(src!="<?php echo STATIC_URL ?>/img/categorias/educacion.png" ,class="img-subtitulo")
						span EDUCACIÓN
					a(href="javascript:;",class="social-box")
						i.sprite.icFacebook
					a(href="javascript:;",class="social-box")
						i.sprite.icTwitter
				.clear
				.contenido-box
					p
						a(href="javascript:;")
							strong	Lorem Ipsum Dolor Sit
					p.espacio-box
						i.sprite.icCboicon2.icono-fecha
						span Nov 10-11, 8pm onwards
					p.text-box Aeorem Ipum Dolor Sit Amet Magna Elita. Lorem Ipsum Elitm.Dolor Sit Amet Magna Elitam vestibulumty. MAgna parispatis
					p
						a(href="javascript:;",class="comprar-entradas") COMPRAR ENTRADAS
			.box
				a(href="javascript:;")
					img(src!="<?php echo STATIC_URL ?>/img/img-prueba/img4.jpg",class="img-responsive")
				.subtitulo
					p.categoria6 EXPOSICIÓN
					a(href="javascript:;",class="social-box")
						i.sprite.icFacebook
					a(href="javascript:;",class="social-box")
						i.sprite.icTwitter

				.clear
				.contenido-box
					p
						a(href="javascript:;")
							strong	Lorem Ipsum Dolor Sit
					p.espacio-box
						i.sprite.icCboicon2.icono-fecha
						span Nov 10-11, 8pm onwards
					p.text-box Aeorem Ipum Dolor Sit Amet Magna Elita. Lorem Ipsum Elitm.Dolor Sit Amet Magna Elitam vestibulumty. MAgna parispatis
					p
						a(href="javascript:;",class="comprar-entradas") COMPRAR ENTRADAS
			.box
				a(href="javascript:;")
					img(src!="<?php echo STATIC_URL ?>/img/img-prueba/img3.jpg",class="img-responsive")
				.subtitulo
					p.categoria7 FREE-EVENTS
					a(href="javascript:;",class="social-box")
						i.sprite.icFacebook
					a(href="javascript:;",class="social-box")
						i.sprite.icTwitter

				.clear
			.box
				a(href="javascript:;")
					img(src!="<?php echo STATIC_URL ?>/img/img-prueba/img2.jpg",class="img-responsive")
				.subtitulo
					p.categoria5 MÚSICA
					a(href="javascript:;",class="social-box")
						i.sprite.icFacebook
					a(href="javascript:;",class="social-box")
						i.sprite.icTwitter
				.clear
				.contenido-box
					p
						strong	Lorem Ipsum Dolor Sit
					p.espacio-box
						i.sprite.icCboicon2.icono-fecha
						span Nov 10-11, 8pm onwards
					p.text-box Aeorem Ipum Dolor Sit Amet Magna Elita. Lorem Ipsum Elitm.Dolor Sit Amet Magna Elitam vestibulumty. MAgna parispatis
					p
						a(href="javascript:;",class="comprar-entradas") COMPRAR ENTRADAS
			.data-scroll
	.clear
	.subcripcion
		.container-sub
			p SUBSCRIBE FOR OUR MONTHLY NEWSLETTER AND LEARN MORE
			input( id="sub" ,type="text", placeholder="Enter Your Email Address")
			button(id="enviar-sub",class="btn-sub") SUBMIT
	.clear
	footer
		.container-footer
			.info1
				p
					strong Quick Links
				ul
					li Home
					li How To Buy
					li FAQ
					li Help
					li Login
					li Register
					li Search
			.info1
				p
					strong Useful Links
				ul
					li Theatre
					li Seminars
					li Education
					li Music
					li Exhibitions
					li Free Events
			.redes
				p
					strong Join Our Community
				ul
					li
						a(href="javascript:;")
							i.sprite.icFacebookfooter
					li
						a(href="javascript:;")
							i.sprite.icTwitterfooter
					li
						a(href="javascript:;")
							i.sprite.icSocialfooter
					li
						a(href="javascript:;")
							i.sprite.icYoutubefooter
					li
						a(href="javascript:;")
							i.sprite.icGooglefooter
			.info-final
				img(src!="<?php echo STATIC_URL ?>/img/logo.png")
			.clear
		.resenia
			p
				img(src!="<?php echo STATIC_URL ?>/img/copy.png")
				span 2014 All Rights Reserved by , Laboleteria.pe
			.terminos
				ul
					li.raya
						a(href="javascript:;") Terms of Use
					li
						a(href="javascript:;") Privacy Policy
			.clear
script(type="text/template", id="cargabox")
	{{ _.each(items,function(item,key) { }}
	.box
		{{ if(item.evento_tag_color){ }}
		.ribbon(style!="background-color: {{=item.evento_tag_color}};")  {{=item.evento_tag_nametag}}
		.esquina(style="border-color: {{=item.evento_tag_coloroscuro}} {{=item.evento_tag_coloroscuro}} transparent transparent;")
		{{ } }}
		a(href="javascript:;")
			img(src!="<?php echo DINAMIC_URL ?>/eventos/banner/home/{{=item.evento_contenido_imagenprincipal}}",class="img-responsive")
		.subtitulo
			p(style!="background: none repeat scroll 0 0 {{=item.categoria_color}};")
				img(onerror!="this.onerror=null; this.src='<?php echo STATIC_URL . '/img/categorias/exposicion.png'; ?>';",src!="<?php echo DINAMIC_URL ?>/categoria/icono/{{=item.categoria_icono}}; ?>" ,class="img-subtitulo")
				span {{=item.categoria_name}}
			a(href="javascript:;",class="social-box")
				i.sprite.icFacebook
			a(href="javascript:;",class="social-box")
				i.sprite.icTwitter
		.clear
		.contenido-box
			p
				strong	{{=item.titulo}}
			p.espacio-box
				i.sprite.icCboicon2.icono-fecha
				span {{=item.evento_contenido_fechainicio}} {{=item.evento_contenido_fechafin}} {{=item.hora}}
			p.text-box {{=item.descripcionCorta}}
			p
				a(href="javascript:;",class="comprar-entradas") COMPRAR ENTRADAS
	{{ }) }}