block content
    .imagen-principal
        img(src!="<?php echo STATIC_URL ?>/img/img-prueba/fondo-evento.jpg")
    .fondo-evento.row
        .box-center.container-local
            .container-evento
                .page-info
                    h2.page-title Sample Tittle Venue Name: Un titulo de un local cualquiera
                    br
                    p.page-subtitlebg
                        i.isprite.icAddressPin
                        | La Paz, Miraflores 12578, Lima - Perú
                    br
                    p.page-subtitlebg (01) 2134343
                .sidebar-info.row
                    .imgCtn
                        img(src!="<?php echo STATIC_URL ?>/img/img-prueba/portada.jpg")
                        //img(src!="<?php echo STATIC_URL ?>/img/img-prueba/sombra.png",class="sombra")
                    .imgSelector.row
                        img(src!="<?php echo STATIC_URL ?>/img/img-prueba/portada.jpg", width="66", height="58").active
                        img(src!="<?php echo STATIC_URL ?>/img/img-prueba/portada.jpg", width="66", height="58")
                        img(src!="<?php echo STATIC_URL ?>/img/img-prueba/portada.jpg", width="66", height="58")
                        img(src!="<?php echo STATIC_URL ?>/img/img-prueba/portada.jpg", width="66", height="58")
                        img(src!="<?php echo STATIC_URL ?>/img/img-prueba/portada.jpg", width="66", height="58").fourth-cuad
                        img(src!="<?php echo STATIC_URL ?>/img/img-prueba/portada.jpg", width="66", height="58")
                        img(src!="<?php echo STATIC_URL ?>/img/img-prueba/portada.jpg", width="66", height="58")
                        img(src!="<?php echo STATIC_URL ?>/img/img-prueba/portada.jpg", width="66", height="58")
                    .mapa
                        img(src!="<?php echo STATIC_URL ?>/img/img-prueba/mapa.jpg")
                        p.hltext.txtBlue How i get the venue Name
                        p.address2.txtSoftGrey
                            i.isprite.icAddressPinGrey
                            | La Paz, Miraflores 15074, Lima - Perú
                    a(href="javascript:;").btn.btn-blue.btnDirections Get directions
                .page-ctn
                    //.extra-evento
                        #tabs
                            ul
                                li
                                    a(href="#tabs-1" ) TAB 1
                                li
                                    a(href="#tabs-2" ) TAB 2
                                li
                                    a(href="#tabs-3" ) TAB 3
                                .clear
                        #tabs_container
                            #tabs-1
                                p Proin elit arcu, rutrum commodo, vehicula tempus, commodo a, risus. Curabitur nec arcu. Donec sollicitudin mi sit amet mauris. Nam elementum quam ullamcorper ante. Etiam aliquet massa et lorem. Mauris dapibus lacus auctor risus.
                                p enean tempor ullamcorper leo. Vivamus sed magna quis ligula eleifend adipiscing. Duis orci. Aliquam sodales tortor vitae ipsum. Aliquam nulla. Duis aliquam molestie erat. Ut et mauris vel pede varius sollicitudin. Sed ut dolor nec orci tincidunt interdum. Phasellus ipsum. Nunc tristique tempus lectus.
                            #tabs-2
                                p Morbi tincidunt, dui sit amet facilisis feugiat, odio metus gravida ante, ut pharetra massa metus id nunc. Duis scelerisque molestie turpis. Sed fringilla, massa eget luctus malesuada, metus eros molestie lectus, ut tempus eros massa ut dolor.
                            #tabs-3
                                p Mauris eleifend est et turpis. Duis id erat. Suspendisse potenti. Aliquam vulputate, pede vel vehicula accumsan, mi neque rutrum erat, eu congue orci lorem eget lorem.
                    table.venue-events
                        thead
                            td.nowShow.active
                                a(href="javascript:;").lnkNow Now Showing
                            td(colspan="2").upcomingShow
                                a(href="javascript:;").lnkUpcoming Upcoming Shows
                        tfoot
                            tr
                        tbody
                            tr
                                td.dates Dec 12, 2014 Friday @ 9:30
                                td.imgTable
                                    img(src!="<?php echo STATIC_URL ?>/img/img-prueba/portada.jpg", alt="Masterclass", width="71", height="48")
                                td.mclass
                                    h3.txtBlue Masterclass
                                td.buyTicks
                                    a(href="javascript:;").btn.bgOrange Buy Tickets
                            tr
                                td.dates Dec 12, 2014 Friday @ 9:30
                                td.imgTable
                                    img(src!="<?php echo STATIC_URL ?>/img/img-prueba/portada.jpg", alt="Masterclass", width="71", height="48")
                                td.mclass
                                    h3.txtBlue Masterclass
                                td.buyTicks
                                    a(href="javascript:;").btn.bgOrange Buy Tickets
                            tr
                                td.dates Dec 12, 2014 Friday @ 9:30
                                td.imgTable
                                    img(src!="<?php echo STATIC_URL ?>/img/img-prueba/portada.jpg", alt="Masterclass", width="71", height="48")
                                td.mclass
                                    h3.txtBlue Masterclass
                                td.buyTicks
                                    a(href="javascript:;").btn.bgOrange Buy Tickets
                            tr
                                td.dates Dec 12, 2014 Friday @ 9:30
                                td.imgTable
                                    img(src!="<?php echo STATIC_URL ?>/img/img-prueba/portada.jpg", alt="Masterclass", width="71", height="48")
                                td.mclass
                                    h3.txtBlue Masterclass
                                td.buyTicks
                                    a(href="javascript:;").btn.bgOrange Buy Tickets
                            tr
                                td.dates Dec 12, 2014 Friday @ 9:30
                                td.imgTable
                                    img(src!="<?php echo STATIC_URL ?>/img/img-prueba/portada.jpg", alt="Masterclass", width="71", height="48")
                                td.mclass
                                    h3.txtBlue Masterclass
                                td.buyTicks
                                    a(href="javascript:;").btn.bgOrange Buy Tickets
                    .ctn360view
                        h3 Vista 360º
                        .streetview
                        h3.mt17 About Venue name
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                        .ctnDescription.row
                            ul.txtBlue
                                li Venue capacity:
                                li Administrator:
                                li Contact Information:
                            ul
                                li 4000 persones
                                li Showbizz S.A.
                                li contacto@showbizz.com