block content
    .imagen-principal
        img(src!="<?php echo STATIC_URL ?>/img/img-prueba/fondo-evento.jpg")
    .fondo-evento.row
        .box-center.container-local
            .container-evento
                .page-info
                    h2.page-title <?php echo $this->venue['nombre']; ?>
                    br
                    p.page-subtitlebg
                        i.isprite.icAddressPin
                        | <?php echo $this->venue['direccion1']; ?>
                    br
                    p.page-subtitlebg <?php echo $this->venue['telefono']; ?>
                .sidebar-info.row
                    .imgCtn
                        .centerImg
                            .innerCtn
                                img(src!="<?php echo DINAMIC_URL ?>/venues/<?php echo $this->venue['imagenPrincipal']; ?>").toReplace
                                a(href="javascript:;")
                                    i.sprite.icExpandImg
                        //img(src!="<?php echo STATIC_URL ?>/img/img-prueba/sombra.png",class="sombra")
                    .imgSelector.row.lknGallery
                        <?php if(count($this->galeriaVenue)>0){
                        |   foreach ($this->galeriaVenue as $key => $value) { ?>
                        img(src!="<?php echo DINAMIC_URL ?>/venues/gallery/<?php echo $value['nombre']; ?>", width="66", height="58", data-src!="<?php echo DINAMIC_URL ?>/venues/gallery/<?php echo $value['nombre']; ?>")
                        <?php }} ?>
                    .mapa
                        #mapa
                        p.hltext.txtBlue How i get the venue Name
                        p.address2.txtSoftGrey
                            i.isprite.icAddressPinGrey
                            | <?php echo $this->venue['direccion1']; ?>
                    a(href="javascript:;").btn.btn-blue.btnDirections Get directions
                .page-ctn
                    //.extra-evento
                        #tabs
                            ul
                                li
                                    a(href="#tabs-1" ) TAB 1
                                li
                                    a(href="#tabs-2" ) TAB 2
                                li
                                    a(href="#tabs-3" ) TAB 3
                                .clear
                        #tabs_container
                            #tabs-1
                                p Proin elit arcu, rutrum commodo, vehicula tempus, commodo a, risus. Curabitur nec arcu. Donec sollicitudin mi sit amet mauris. Nam elementum quam ullamcorper ante. Etiam aliquet massa et lorem. Mauris dapibus lacus auctor risus.
                                p enean tempor ullamcorper leo. Vivamus sed magna quis ligula eleifend adipiscing. Duis orci. Aliquam sodales tortor vitae ipsum. Aliquam nulla. Duis aliquam molestie erat. Ut et mauris vel pede varius sollicitudin. Sed ut dolor nec orci tincidunt interdum. Phasellus ipsum. Nunc tristique tempus lectus.
                            #tabs-2
                                p Morbi tincidunt, dui sit amet facilisis feugiat, odio metus gravida ante, ut pharetra massa metus id nunc. Duis scelerisque molestie turpis. Sed fringilla, massa eget luctus malesuada, metus eros molestie lectus, ut tempus eros massa ut dolor.
                            #tabs-3
                                p Mauris eleifend est et turpis. Duis id erat. Suspendisse potenti. Aliquam vulputate, pede vel vehicula accumsan, mi neque rutrum erat, eu congue orci lorem eget lorem.
                    .tabsTables.row
                        a(href="javascript:;", data-show="#nowShowing").active.lnkNow Now Showing
                        a(href="javascript:;", data-show="#upcomingShows").lnkUpcoming Upcoming Shows
                    table.venue-events#nowShowing
                        tbody
                            tr
                                <?php if(!empty($this->dataEvento['now'])):?>
                                <?php foreach($this->dataEvento['now'] AS $value):?>
                                td.dates <?php echo date('M d, Y N',strtotime($valu['fechaInicioPublicacion'])); ?>@ <?php echo date('H:i',strtotime($value['hora'])); ?>9:30
                                td.imgTable
                                    img(src!="<?php echo DINAMIC_URL ?>/eventos/<?php echo $value['imagenPrincipal']?>", alt!="<?php echo $value['titulo']?>", width="71", height="48")
                                td.mclass
                                    h3.txtBlue <?php echo $value['titulo']?>
                                td.buyTicks
                                    a(href="javascript:;").btn.bgOrange Buy Tickets
                                <?php endforeach?>    
                                <?php else:?>
                                td(colspan="4")
                                    p No hay eventos disponibles
                                <?php endif;?>
                            tr
                                td.dates Dec 12, 2014 Friday @ 9:30
                                td.imgTable
                                    img(src!="<?php echo STATIC_URL ?>/img/img-prueba/portada.jpg", alt="Masterclass", width="71", height="48")
                                td.mclass
                                    h3.txtBlue Masterclass
                                td.buyTicks
                                    a(href="javascript:;").btn.bgOrange Buy Ticket
                            tr
                                td.dates Dec 12, 2014 Friday @ 9:30
                                td.imgTable
                                    img(src!="<?php echo STATIC_URL ?>/img/img-prueba/portada.jpg", alt="Masterclass", width="71", height="48")
                                td.mclass
                                    h3.txtBlue Masterclass
                                td.buyTicks
                                    a(href="javascript:;").btn.bgOrange Buy Ticket
                            tr
                                td.dates Dec 12, 2014 Friday @ 9:30
                                td.imgTable
                                    img(src!="<?php echo STATIC_URL ?>/img/img-prueba/portada.jpg", alt="Masterclass", width="71", height="48")
                                td.mclass
                                    h3.txtBlue Masterclass
                                td.buyTicks
                                    a(href="javascript:;").btn.bgOrange Buy Ticket
                            tr
                                td.dates Dec 12, 2014 Friday @ 9:30
                                td.imgTable
                                    img(src!="<?php echo STATIC_URL ?>/img/img-prueba/portada.jpg", alt="Masterclass", width="71", height="48")
                                td.mclass
                                    h3.txtBlue Masterclass
                                td.buyTicks
                                    a(href="javascript:;").btn.bgOrange Buy Ticket
                            tr
                                td.dates Dec 12, 2014 Friday @ 9:30
                                td.imgTable
                                    img(src!="<?php echo STATIC_URL ?>/img/img-prueba/portada.jpg", alt="Masterclass", width="71", height="48")
                                td.mclass
                                    h3.txtBlue Masterclass
                                td.buyTicks
                                    a(href="javascript:;").btn.bgOrange Buy Ticket
                            tr
                                td.dates Dec 12, 2014 Friday @ 9:30
                                td.imgTable
                                    img(src!="<?php echo STATIC_URL ?>/img/img-prueba/portada.jpg", alt="Masterclass", width="71", height="48")
                                td.mclass
                                    h3.txtBlue Masterclass
                                td.buyTicks
                                    a(href="javascript:;").btn.bgOrange Buy Ticket
                            tr
                                td.dates Dec 12, 2014 Friday @ 9:30
                                td.imgTable
                                    img(src!="<?php echo STATIC_URL ?>/img/img-prueba/portada.jpg", alt="Masterclass", width="71", height="48")
                                td.mclass
                                    h3.txtBlue Masterclass
                                td.buyTicks
                                    a(href="javascript:;").btn.bgOrange Buy Ticket
                            tr
                                td.dates Dec 12, 2014 Friday @ 9:30
                                td.imgTable
                                    img(src!="<?php echo STATIC_URL ?>/img/img-prueba/portada.jpg", alt="Masterclass", width="71", height="48")
                                td.mclass
                                    h3.txtBlue Masterclass
                                td.buyTicks
                                    a(href="javascript:;").btn.bgOrange Buy Ticket
                            tr
                                td.dates Dec 12, 2014 Friday @ 9:30
                                td.imgTable
                                    img(src!="<?php echo STATIC_URL ?>/img/img-prueba/portada.jpg", alt="Masterclass", width="71", height="48")
                                td.mclass
                                    h3.txtBlue Masterclass
                                td.buyTicks
                                    a(href="javascript:;").btn.bgOrange Buy Ticket
                            tr
                                td.dates Dec 12, 2014 Friday @ 9:30
                                td.imgTable
                                    img(src!="<?php echo STATIC_URL ?>/img/img-prueba/portada.jpg", alt="Masterclass", width="71", height="48")
                                td.mclass
                                    h3.txtBlue Masterclass
                                td.buyTicks
                                    a(href="javascript:;").btn.bgOrange Buy Ticket
                            tr
                                td.dates Dec 12, 2014 Friday @ 9:30
                                td.imgTable
                                    img(src!="<?php echo STATIC_URL ?>/img/img-prueba/portada.jpg", alt="Masterclass", width="71", height="48")
                                td.mclass
                                    h3.txtBlue Masterclass
                                td.buyTicks
                                    a(href="javascript:;").btn.bgOrange Buy Ticket
                            tr
                                td.dates Dec 12, 2014 Friday @ 9:30
                                td.imgTable
                                    img(src!="<?php echo STATIC_URL ?>/img/img-prueba/portada.jpg", alt="Masterclass", width="71", height="48")
                                td.mclass
                                    h3.txtBlue Masterclass
                                td.buyTicks
                                    a(href="javascript:;").btn.bgOrange Buy Ticket
                            tr
                                td.dates Dec 12, 2014 Friday @ 9:30
                                td.imgTable
                                    img(src!="<?php echo STATIC_URL ?>/img/img-prueba/portada.jpg", alt="Masterclass", width="71", height="48")
                                td.mclass
                                    h3.txtBlue Masterclass
                                td.buyTicks
                                    a(href="javascript:;").btn.bgOrange Buy Ticket
                            tr
                                td.dates Dec 12, 2014 Friday @ 9:30
                                td.imgTable
                                    img(src!="<?php echo STATIC_URL ?>/img/img-prueba/portada.jpg", alt="Masterclass", width="71", height="48")
                                td.mclass
                                    h3.txtBlue Masterclass
                                td.buyTicks
                                    a(href="javascript:;").btn.bgOrange Buy Ticket
                            tr
                                td.dates Dec 12, 2014 Friday @ 9:30
                                td.imgTable
                                    img(src!="<?php echo STATIC_URL ?>/img/img-prueba/portada.jpg", alt="Masterclass", width="71", height="48")
                                td.mclass
                                    h3.txtBlue Masterclass
                                td.buyTicks
                                    a(href="javascript:;").btn.bgOrange Buy Ticket
                            tr
                                td.dates Dec 12, 2014 Friday @ 9:30
                                td.imgTable
                                    img(src!="<?php echo STATIC_URL ?>/img/img-prueba/portada.jpg", alt="Masterclass", width="71", height="48")
                                td.mclass
                                    h3.txtBlue Masterclass
                                td.buyTicks
                                    a(href="javascript:;").btn.bgOrange Buy Ticket
                            tr
                                td.dates Dec 12, 2014 Friday @ 9:30
                                td.imgTable
                                    img(src!="<?php echo STATIC_URL ?>/img/img-prueba/portada.jpg", alt="Masterclass", width="71", height="48")
                                td.mclass
                                    h3.txtBlue Masterclass
                                td.buyTicks
                                    a(href="javascript:;").btn.bgOrange Buy Ticket
                            tr
                                td.dates Dec 12, 2014 Friday @ 9:30
                                td.imgTable
                                    img(src!="<?php echo STATIC_URL ?>/img/img-prueba/portada.jpg", alt="Masterclass", width="71", height="48")
                                td.mclass
                                    h3.txtBlue Masterclass
                                td.buyTicks
                                    a(href="javascript:;").btn.bgOrange Buy Ticket
                    table.venue-events#upcomingShows
                        tbody
                            tr
                                <?php if(!empty($this->dataEvento['now'])):?>
                                <?php foreach($this->dataEvento['now'] AS $value):?>
                                td.dates <?php echo date('M d, Y N',strtotime($valu['fechaInicioPublicacion'])); ?>@ <?php echo date('H:i',strtotime($value['hora'])); ?>9:30
                                td.imgTable
                                    img(src!="<?php echo DINAMIC_URL ?>/eventos/<?php echo $value['imagenPrincipal']?>", alt!="<?php echo $value['titulo']?>", width="71", height="48")
                                td.mclass
                                    h3.txtBlue <?php echo $value['titulo']?>
                                td.buyTicks
                                    a(href="javascript:;").btn.bgOrange Buy Tickets
                                <?php endforeach?>    
                                <?php else:?>
                                td(colspan="4")
                                    p No hay eventos disponibles
                                <?php endif;?>
                            tr
                                td.dates Dec 12, 2014 Friday @ 9:30
                                td.imgTable
                                    img(src!="<?php echo STATIC_URL ?>/img/img-prueba/portada.jpg", alt="Masterclass", width="71", height="48")
                                td.mclass
                                    h3.txtBlue Masterclass
                                td.buyTicks
                                    a(href="javascript:;").btn.bgOrange Buy Tickets
                    .ctn360view
                        h3 Vista 360ยบ
                        .streetview
                        h3.mt17 About <?php echo $this->venue['nombre']; ?>
                        p <?php echo $this->venue['descripcion']; ?>
                        h3.mt17 Parking
                        p <?php echo $this->venue['estacionamiento']; ?>
                        //.ctnDescription.row
                        //    ul.txtBlue
                        //        li Venue capacity:
                        //        li Administrator:
                        //        li Contact Information:
                        //    ul
                        //        li 4000 persones
                        //       li Showbizz S.A.
                        //        li contacto@showbizz.com
script(type="text/template", id="toReplace")
    .innerCtn
        img(src!="{{= fuente }}", data-replace="true", width="276").toReplace
        a(href="javascript:;")
                i.sprite.icExpandImg