
block content
    .container-noticias
        section.contenido-noticias
            <?php if(count($this->noticias)>0){
            |   foreach ($this->noticias as $key => $value) { ?>
            article
                h2 <?php echo $value['titulo']; ?>
                img(src!="<?php echo DINAMIC_URL ?>/noticias/<?php echo $value['imagenPrincipal']; ?>")
                .redes-sociales redes
                .descripcion
                    strong Date <?php echo date('M d, Y',strtotime($value['fechaInicioPublicacion'])); ?>
                    p  <?php echo strlen($value['contenido'])>230?substr($value['contenido'],0, 230).'...':$value['contenido']; ?>
                .ver-noticia
                    a(href="javascript:;") Read More
                .clear
            <?php }} ?>
            article
                h2 Group add new venues for “Tour 2015”
                img(src!="<?php echo STATIC_URL ?>/img/img-prueba/noticia.jpg")
                .redes-sociales redes
                .descripcion
                    strong Posted by Kevin Berger on October 27, 2014
                    p  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquiex ea commodo consequat...
                .ver-noticia
                    a(href="javascript:;") Read More
                .clear
            .noticias-pasadas
                a(href="javascript:;") < Noticias anteriores
        .fechas-noticias
            .fechas
                <?php if(count($this->fechas)>0){ ?>
                p Fecha
                ul
                    <?php   foreach ($this->fechas as $key => $value) { ?>
                    li
                        a(href="javascript:;" , class!="<?php echo date('Y-m',strtotime($value['fechaInicioPublicacion']))==$this->mesActual?'active':''; ?>") <?php echo date('F Y',strtotime($value['fechaInicioPublicacion'])); ?>
                    <?php } ?>
                <?php } ?>

    .clear

