block content
    .ctn-wrapper.container-seller
        .imagen-principal
            img(src!="<?php echo STATIC_URL ?>/img/img-prueba/fondo-evento.jpg")
        .bgtransparent
        //.imagen-principal.layer2
        .fondo-evento.row
            .box-center
                    .layer2
                    .ctnSeller.row
                        .sidebar-info.row
                            .imgCtn
                                .centerImg
                                    img(src!="<?php echo STATIC_URL ?>/img/img-prueba/portada.jpg" height="107" width="285")
                                //img(src!="<?php echo STATIC_URL ?>/img/img-prueba/sombra.png",class="sombra")
                            a(href="javascript:;").web-seller livenation.com
                            ul.ctnSocialMedia
                                <?php if(!empty($this->dataSeller['facebook'])):?>
                                li
                                    a(href="javascript:;")
                                        i.isprite.icFacebookcontacto
                                        | <?php echo $this->dataSeller['facebook']?>
                                <?php endif;?>
                                <?php if(!empty($this->dataSeller['twitter'])):?>
                                li
                                    a(href="javascript:;")
                                        i.isprite.icTwittercontacto
                                        | <?php echo $this->dataSeller['twitter']?>
                                <?php endif;?> 
                                <?php if(!empty($this->dataSeller['youtube'])):?>
                                li
                                    a(href="javascript:;")
                                        i.isprite.icYoutubecontacto
                                        | <?php echo $this->dataSeller['youtube']?>
                                <?php endif;?>
                        .page-ctn
                            .seller-information
                                h3.txtBlue 
                                    <?php echo $this->dataSeller['nombre']?>
                                p <?php echo $this->dataSeller['descripcion']?>
                                p.contact-info.txtBlue
                                    i.isprite.icMail
                                    | Contacto: 
                                    a(href!="mailto:<?php echo $this->dataSeller['email']?>").txtBlue <?php echo $this->dataSeller['email']?>
                            .show-detail-block.row.nowShowing
                                .title
                                    .tab-title
                                        i.isprite.icStar
                                        | Now showing                                             
                                .cnt-detail.row
                                    <?php if(!empty($this->dataEvento['now'])):?>
                                    <?php foreach($this->dataEvento['now'] AS $value):?>
                                    .imgCtn
                                        img(src!="<?php echo DINAMIC_URL ?>/eventos/<?php echo $value['imagenPrincipal']?>", width="140", height="196")
                                    .information
                                        h3.txtBlue 
                                            <?php echo $value['titulo']?>
                                        p 
                                            <?php  echo $value['descripcionCorta']?>
                                        ul.more-information
                                            li
                                                i.isprite.icHora
                                                | <?php echo $value['fechaInicioPublicacion']?>
                                            li
                                                i.isprite.icPrecio
                                                | Rango de precio: <?php echo $value['signoMoneda'].' '.$value['precioMinimo'].' - '.$value['signoMoneda'].' '.$value['precioMaximo']?>
                                            li
                                                i.isprite.icLugar
                                                | <?php echo $value['nombre'].' '.$value['ciudad']?>
                                        a(href="javascript:;").btn.bgOrange Buy Tickets
                                    hr
                                    <?php endforeach?>    
                                    <?php else:?>
                                    p No hay eventos disponibles
                                    <?php endif;?>
                            hr
                            .show-detail-block.row.comingSoon
                                .title
                                    .tab-title
                                        i.isprite.icStar
                                        | coming soon
                                .cnt-detail.row
                                    <?php if(!empty($this->dataEvento['comming'])):?>
                                    <?php foreach($this->dataEvento['comming'] AS $value):?>
                                    .imgCtn
                                        img(src!="<?php echo DINAMIC_URL ?>/eventos/<?php echo $value['imagenPrincipal']?>", width="140", height="196")
                                    .information
                                        h3.txtBlue 
                                            <?php echo $value['titulo']?>
                                        p 
                                            <?php  echo $value['descripcionCorta']?>
                                        ul.more-information
                                            li
                                                i.isprite.icHora
                                                | <?php echo $value['fechaInicioPublicacion']?>
                                            li
                                                i.isprite.icPrecio
                                                | Rango de precio: <?php echo $value['signoMoneda'].' '.$value['precioMinimo'].' - '.$value['signoMoneda'].' '.$value['precioMaximo']?>
                                            li
                                                i.isprite.icLugar
                                                | <?php echo $value['nombre'].' '.$value['ciudad']?>
                                        a(href="javascript:;").btn.bgOrange Buy Tickets
                                    hr
                                    <?php endforeach?>    
                                    <?php else:?>
                                    p No hay eventos disponibles
                                    <?php endif;?>
                            hr
                            .show-detail-block.row.past-events
                                .title
                                    a(href="javascript:;").seeThemAll 
                                    .tab-title
                                        i.isprite.icStar
                                        | Past events
                                .cnt-detail.row
                                    <?php if(!empty($this->dataEvento['past'])):?>
                                    ul.list-events
                                        <?php foreach($this->dataEvento['past'] AS $value):?>
                                        li                                           
                                            a(href="javascript:;")
                                                img(src!="<?php echo DINAMIC_URL ?>/eventos/<?php echo $value['imagenPrincipal']?>", width="140", height="196")
                                                .event-information
                                                    h3.txtBlue 
                                                        <?php echo $value['titulo']?>
                                                    span 
                                                        <?php echo $value['fechaInicioPublicacion']?>
                                        <?php endforeach?>     
                                    <?php endif;?>
                                        
