block content
    .ctn-wrapper.container-seller
        .imagen-principal
            img(src!="<?php echo STATIC_URL ?>/img/img-prueba/fondo-evento.jpg")
        .bgtransparent
        //.imagen-principal.layer2
        .fondo-evento.row
            .box-center
                    .layer2
                    .ctnSeller.row
                        .sidebar-info.row
                            .imgCtn
                                .centerImg
                                    img(src!="<?php echo STATIC_URL ?>/img/img-prueba/portada.jpg" height="107" width="285")
                                //img(src!="<?php echo STATIC_URL ?>/img/img-prueba/sombra.png",class="sombra")
                            a(href="javascript:;").web-seller livenation.com
                            ul.ctnSocialMedia
                                li
                                    a(href="javascript:;")
                                        i.isprite.icFacebookcontacto
                                        | livenation.facebook
                                li
                                    a(href="javascript:;")
                                        i.isprite.icTwittercontacto
                                        | @livenation.twitter
                                li
                                    a(href="javascript:;")
                                        i.isprite.icYoutubecontacto
                                        | /livenation.youtube
                                li
                                    a(href="javascript:;")
                                        i.isprite.icGooglecontacto
                                        | livenation.google
                        .page-ctn
                            .seller-information
                                h3.txtBlue Seller's Information
                                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Noster sapiente honestum inpendente aetatis succumbere melius consistat erat efficeret, erroribus dicant factorum reperire, theophrasti odit multitudinem arte audeam, inquam, incommoda stabilitas quamvis maximasque necessitatibus. Multo salutandi vivi nec silano praesenti tantopere optimus retinere. Manum facillime exercendi, elegantis honeste appellantur facerem succumbere consulatu aliquid sapienti aliter quod, postremo artifex praesentium, temperantia eruditi videor neglegit renovata credere necessarius aliquod conciliant erroribus, everti clarorum fabulas nostras conscientia geometriaque. Gravitate pecuniae ponderum perfruique deserere statuerunt.
                                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Noster sapiente honestum inpendente aetatis succumbere melius consistat erat efficeret, erroribus dicant factorum reperire, theophrasti odit multitudinem arte audeam, inquam, incommoda stabilitas quamvis maximasque necessitatibus. Multo salutandi vivi nec silano praesenti tantopere optimus retinere. Manum facillime exercendi, elegantis honeste appellantur facerem succumbere consulatu aliquid sapienti aliter quod, postremo artifex praesentium, temperantia eruditi videor neglegit renovata credere necessarius aliquod conciliant erroribus, everti clarorum fabulas nostras conscientia geometriaque. Gravitate pecuniae ponderum perfruique deserere statuerunt.
                                p.contact-info.txtBlue
                                    i.isprite.icMail
                                    | Contacto: 
                                    a(href="mailto:webmaster@example.com").txtBlue contacto@livenation.com
                            .show-detail-block.row.nowShowing
                                .title
                                    .tab-title
                                        i.isprite.icStar
                                        | Now showing
                                .cnt-detail.row
                                    .imgCtn
                                        img(src!="<?php echo STATIC_URL ?>/img/img-prueba/portada.jpg", width="140", height="196")
                                    .information
                                        h3.txtBlue Title of Event
                                        p Lorem ipsum Dolore culpa velit sit Excepteur in ea in quis sint qui proident proident anim ea.
                                        ul.more-information
                                            li
                                                i.isprite.icHora
                                                | From Thursday to Monday, 8pm. Sundays on 7pm.
                                            li
                                                i.isprite.icPrecio
                                                | Price range: $20 - $50
                                            li
                                                i.isprite.icLugar
                                                | Teatro Rollys at Miraflores
                                        a(href="javascript:;").btn.bgOrange Buy Tickets
                            hr
                            .show-detail-block.row.comingSoon
                                .title
                                    .tab-title
                                        i.isprite.icCalendar
                                        | Coming soon
                                .cnt-detail.row
                                    .imgCtn
                                        img(src!="<?php echo STATIC_URL ?>/img/img-prueba/portada.jpg", width="140", height="196")
                                    .information
                                        h3.txtBlue Title of Event
                                        p Lorem ipsum Dolore culpa velit sit Excepteur in ea in quis sint qui proident proident anim ea.
                                        ul.more-information
                                            li
                                                i.isprite.icHora
                                                | From Thursday to Monday, 8pm. Sundays on 7pm.
                                            li
                                                i.isprite.icPrecio
                                                | Price range: $20 - $50
                                            li
                                                i.isprite.icLugar
                                                | Teatro Rollys at Miraflores
                                        a(href="javascript:;").btn.bgOrange Buy Tickets
                            hr
                            .show-detail-block.row.past-events
                                .title
                                    a(href="javascript:;").seeThemAll See them all
                                    .tab-title
                                        i.isprite.icStar
                                        | Past events
                                .cnt-detail.row
                                    ul.list-events
                                        li
                                            a(href="javascript:;")
                                                img(src!="<?php echo STATIC_URL ?>/img/img-prueba/portada.jpg", width="140", height="196")
                                                .event-information
                                                    h3.txtBlue Title of events
                                                    span 2009
                                        li
                                            a(href="javascript:;")
                                                img(src!="<?php echo STATIC_URL ?>/img/img-prueba/portada.jpg", width="140", height="196")
                                                .event-information
                                                    h3.txtBlue Title of events
                                                    span 2009
                                        li
                                            a(href="javascript:;")
                                                img(src!="<?php echo STATIC_URL ?>/img/img-prueba/portada.jpg", width="140", height="196")
                                                .event-information
                                                    h3.txtBlue Title of events
                                                    span 2009
                                        li
                                            a(href="javascript:;")
                                                img(src!="<?php echo STATIC_URL ?>/img/img-prueba/portada.jpg", width="140", height="196")
                                                .event-information
                                                    h3.txtBlue Title of events
                                                    span 2009
                                        li
                                            a(href="javascript:;")
                                                img(src!="<?php echo STATIC_URL ?>/img/img-prueba/portada.jpg", width="140", height="196")
                                                .event-information
                                                    h3.txtBlue Title of events
                                                    span 2009
                                        
