
block content
    .imagen-principal-interno
        img(src!="<?php echo STATIC_URL ?>/img/img-prueba/contacto.jpg")
    .contenido-contacto
        h2 Terminos y Condiciones
        .contenido-terminos
            h3 Subtitulo 1
            ul
                li
                    p
                        strong Item list 1

                    span This Privacy Policy applies to the sites and apps where it appears.
                    br
                    span This Policy describes how we treat personal information we collect both online and offline.
                    br
                    p  This includes on our websites or in our apps. It also includes at our box offices or in phone or email interactions you have with us. If you live in Canada, please read our Canadian Privacy Policy.
                li
                    p
                        strong Item list 2

                    span We collect information from and about you.
                    br
                    span Contact information. For example, we might collect your name and street address. We might also collect your phone number or email.
                    br
                    p Payment and billing information. For example, we collect your credit card number and zip code when you buy a ticket.
                li
                    p
                        strong Item list 3

                    span Information you post. For example, we collect information you post in a public space on our website or on a third-party social media site.
                    p Demographic information. We may collect information about events you like or products you buy. We might collect this as part of a survey, for example.
                li
                    p
                        strong Item list 4

                    p Other information. If you use our website, we may collect information about the browser you're using. We might look at what site you came from, or what site you visit when you leave us. If you use our mobile app, we may collect your GPS location or your device's unique identifier. We might also collect the type of mobile device you are using, or the version of the operating system your computer or device is running. We might look at how often you use the app and where you downloaded it.
    .clear

