/**
* Font CSS
* @class fonts
* @module fonts.css
*/
@font-face
	font_face("futuraMedium")
@font-face
	font_face("futuraBold")
@font-face
	font_face("futuraBookRegular")
@font-face
	font_face("blissRegular")
@font-face
	font_face("futuraRegular")
@font-face
	font_face("futuraLight")
@font-face
	font_face("fontCoomuna")
@font-face
	font_face("helveticaThinCond")