/**
* Forms CSS
* @class forms
* @module forms.css
*/
.help-block
	color #b3b3b3
	display block
	font-family family4
	font-size 12px
	font-style oblique
	line-height 14px
	padding-top 5px
	&.fix
		padding-top 0
.form-group
	padding-bottom 1px
	*zoom 1
	&:before,&:after
		display table
		content ""
		line-height 0
	&:after
		clear both
	& + .form-group, & + .control
		margin-top 24px
	.decorOpt-label
		display inline-block
		*display inline
		min-width 64px
		padding 0 8px 0 22px
		input[type="checkbox"]
			display none
.form-control
	border 1px solid #cbcbcb
	color #666
	font-size 13px
	height 34px
	padding 8px
.input-group
	padding-left 38px
	position relative
	.input-group-addon
		background #f2f2f2
		border 1px solid #ededed
		height 32px
		left 0
		padding 0
		position absolute
		top 0
		width 32px
	.glyph-icon
		display block
		font-size 20px
		height 34px
		line-height 34px
		text-align center
	.sprite
		margin 0 auto
	.icNPerson
		margin-top 9px
.control
	text-align right
/*
*	Style Forms
*/
.fcRed
	color #ef3581