/**
* Resource CSS
* @class resource
* @module content.css
*/
.error
	border 1px solid #F00 !important
.hidden
	display none
.cls
	clear both
.hide
	opacity 0
.inpt-search
	position relative
	.glyph-search
		margin-top -8px
		position absolute
		right 6px
		top 50%
	.form-control
		padding-right 24px !important
/**
*
* menu
*
**/
.menu-bar
	li
		float left
		&:hover
			color #eeeeee
		a
			width 100%
			height 100%
			display block
/*
* Components
*/
.box-center
	width 970px
.page-info
	position relative
	margin-bottom 16px
.page-title
	font-size 24px
	background #000000
	display inline-block
	padding 3px 30px 8px 8px
.page-subtitle
	margin-bottom 16px
	font-size 17px
.page-subtitlebg
	margin-top 2px
	font-size 17px
	color #fff
	background #000000
	padding 3px 15px 4px 4px
	display inline-block
	&:first-child
		margin-top 0
.imagen-principal
	float left
	width 100%
	background #fff
	position absolute
.sidebar-info
	float left
	position relative
	width 290px
	margin-bottom 35px
	.imgCtn
		width 100%
		text-align center
		position relative
		.centerImg
			display inline-block
			position relative
		img
			box-shadow 0 29px 27px -23px #2c2c2c
			min-width 130px
		.icExpandImg
			position absolute
			top 5px
			right 5px
	.imgSelector
		margin-top 30px
		img
			float left
			margin 0 0 7px 8px
			&:first-child, &.fourth-cuad
				margin 0
			&.active, &:hover
				border 1px solid #e68900
				box-sizing border-box
	.mapa
		img
			width 100%
.page-ctn
	float left
	width 640px
	margin 117px 0 0 24px
	z-index 10
	position relative
.hltext
	font-size 16px
/*
* COLORS
*/
.bgBlue
	background-color #2ea4c3
.txtBlue
	color #2ea4c3
.bgOrange
	background-color #e68900
.txtOrange
	color #e68900
.txtSoftGrey
	color #bdbdbd

/*
*	Decors
*/
.decorOpt-label
	display inline-block
	*display inline
	font-family family4
	font-size 13px
	line-height 14px
	padding-left 22px
	position relative
	user-select none
	&.active
		.glyph-check, .glyph-radio
			display block
	input[type="radio"]
		display none
	.decorOptRad
		background #FFF
		border 1px solid #a3a3a3
		border-radius 10px
		color #fff
		font-size 10px
		height 10px
		left 0
		margin-top -6px
		position absolute
		top 50%
		width 10px
		transition all .3s ease
	&.fix2quad
		.decorOptRad
			border-radius 0px
	.glyph-radio
		display none
		font-size 8px
		height 10px
		line-height 10px
		margin 0 auto
		text-align center
		//text-indent 1px
		width 10px
		transition all 1s ease
	.glyph-check
		display none
		font-size 7px
		line-height 10px
		text-align center
		text-indent 1px
		width 10px
	.crclIcon
		background #f2f2f2
		border-radius 18px
		font-size 14px
		line-height 18px
		padding 6px
		text-align center
		vertical-align middle
		width 18px
		&.glyph-sell
			padding 6px 5px 6px 7px
			text-align left
		&.glyph-rental
			font-size 13px
			//text-indent 1px
		&.glyph-activityGame
			font-size 13px
.ctnLbl-block
	.decorOpt-label
		display block
		& + .decorOpt-label
			margin-top 10px
.brdr-5
	border-radius 5px
/*
*	Widths
*/
.w50
	width 50px
.w114
	width 114px
.w100
	width 100px
.w136
	width 136px
.w172
	width 172px
.h75
	height 75px
.h300
	height 300px
.h216
	height 216px
.mh222
	min-height 222px
/*
*	Tables
*/
.td-action1
	text-align center
	width 46px
/*
*	Aligns
*/
.algn-right
	text-align right
.algn-left
	text-align left
.algn-center
	text-align center
/*
*	Color
*/
.blue
	color #2383ec
.co-green
	color #00bcba !important
.co-red
	color #e21b68 !important
.co-skyGreen
	color #34d352 !important
.bg-skyGreen
	background #34d352 !important
.bg-red
	background #e21b68 !important
/*
*	Spacings
*/
.pt110
	padding-top 110px !important
.pt38
	padding-top 38px !important
.pt22
	padding-top 22px !important
.pt20
	padding-top 20px
.pt12
	padding-top 12px
.pt44
	padding-top 44px
.pt30
	padding-top 20px
.pt9
	padding-top 9px
.pt8
	padding-top 8px !important
.pb8
	padding-bottom 8px !important
.pb20
	padding-bottom 20px !important
.pb12
	padding-bottom 12px
.mlCol1
	margin-left 8.33333%
.ml100
	margin-left 100px
.mb12
	margin-bottom 12px
.mb24
	margin-bottom 24px
.mb32
	margin-bottom 32px
.mb10
	margin-bottom 10px
.mb20
	margin-bottom 20px
.mb24
	margin-bottom 24px !important
.mb28
	margin-bottom 28px !important
.mb30
	margin-bottom 30px
.mb36
	margin-bottom 36px !important
.mb44
	margin-bottom 44px !important
.ml200
	margin-left 200px !important
.mb20
	margin-bottom 20px !important
.mb24
	margin-bottom 24px
.ml45
	margin-left 45px !important
.ml-38
	margin-left -38px !important
.mt12
	margin-top 12px !important
.mt17
	margin-top 17px !important
.mt16
	margin-top 16px !important
.mt23
	margin-top 23px !important
.mt22
	margin-top 22px !important
.mt20
	margin-top 20px !important
.mt5
	margin-top 5px !important
.mt10
	margin-top 10px
.mt15
	margin-top 15px
.mt40
	margin-top 40px !important
.mt24
	margin-top 24px !important
.mt50
	margin-top 50px !important
.mt60
	margin-top 60px !important
.ml10
	margin-left 10px
.ml20
	margin-left 20px
.mr10
	margin-right 10px
/*
*	Floats
*/
.push-left
	float left
	min-height 1px
.push-right
	float right
	min-height 1px
/**
*
* Titulo
*
**/
.pageTitle
	color #333
	font-family family6
	font-size 15px
	line-height 24px
	.glyph-icon
		background #00bcba
		border-radius 24px
		color #FFF
		font-size 11px
		line-height 20px
		margin-right 10px
		padding 2px
		text-align center
		width 20px
	.glyph-mail
		font-size 9px
/**
* contenedores
**/
.upload-box
	box-sizing border-box
	background #f2f2f2
	padding 2%
	margin-right 24px
	.dotBox
		border 2px dotted #b3b3b3
		min-height 120px
		padding 12px
		position relative
		text-align center
	.bgUploader
		background none repeat scroll 0 0 #fff
		bottom 24px
		display none
		height 5px
		left 30px
		position absolute
		width 85%
	.icUpPicture
		position absolute
		top 50%
		left 50%
		margin -37px 0 0 -49px
.grid-filter
	margin 0 auto 8px
	*zoom 1
	&:before,&:after
		display table
		content ""
		line-height 0
	&:after
		clear both
	.gfilter-left
		float left
	.gfilter-right
		float right
	.form-control
		border-radius 3px !important
		font-size 12px !important
		height 30px
		padding 6px 8px
		width 300px
/*
*	Rows Separates
*/
.bxs-20
	margin 0 -20px
	.column-8,.column-7, .column-4,.column-5
		padding 0 20px
.bxs-15
	margin 0 -15px
	.column-8,.column-7, .column-4,.column-5
		padding 0 15px
.bxs-10
	margin 0 -10px
	.column-9, .column-3, .column-6
		padding 0 10px
.bxsp-4
	margin 0 -4%
	.column-6
		padding 0 4%
/*
*	Calendar
*/
.custom-calendar
	font-family family7
	margin-top 10px
	text-align center
	*zoom 1
	&:before,&:after
		display table
		content ""
		line-height 0
	&:after
		clear both
	.calDatePicker
		.bxcal-desc
			border none
			border-radius 0
			color #fff
			font-size 42px
			font-family family7
			line-height 43px
			text-align center
			opacity 0
		.month-dp
			color #fff
			float left
			font-family family5
			font-size 12px
			margin 7px auto 0
			position absolute
			width 100%
			z-index 1
		.showDayNum
			color #fff
			font-size 42px
			font-family family7
			height 69px
			line-height 83px
			position absolute
			text-align center
			width 100%
			background #f2f2f2
	.box-calendar
		float left
		position relative
		width 80px
		.bxcal-desc
			transition all 3s ease
		& + .box-calendar
			margin-left 14px
		&.active, &:hover
			.bxcal-desc, .showDayNum
				background #00bcba
				transition all 2s ease
			.bxcald-moth, .bxcald-day
				color #FFF
	.bxcal-desc
		background #f2f2f2
		padding 20px 0 6px
		position relative
		margin-bottom 2px
	.bxcal-slct
		background #f2f2f2
		box-sizing border-box
		color #808080
		font-family family4
		font-size 12px
		height 24px
		line-height 22px
		text-align center
	.bxcald-moth
		color #808080
		font-family family5
		font-size 12px
		left 0
		position absolute
		top 4px
		width 100%
	.bxcald-day
		color #808080
		display block
		font-size 42px
	select
		background #f2f2f2
		border none
		color #808080
		font-size 12px
		height 20px
		padding 2px
/**
* Days picker
**/
.daysPicker
	margin-top 10px
	width 330px
	label
		background #f2f2f2
		color #6f6f6f
		display block
		float left
		height 30px
		line-height 30px
		margin 0 5px 10px 0
		padding 0 !important
		text-align center
		transition all .5s ease 0s
		width 60px
		&.act
			background #00bcbb
			color #fff
		&:hover
			opacity .8
		input[type="checkbox"]
			display none
/*
*	Rating
*/
.ratingDetail
	.rtngdet-stats
		margin-top 8px
		margin-bottom 5px
		*zoom 1
		&:before,&:after
			display table
			content ""
			line-height 0
		&:after
			clear both
		&:first-child
			margin-top 0
	.rtngdet-starts
		float left
		width 110px
	.rtngdet-hr
		border-bottom 1px solid #f1f1f1
		float left
		height 13px
		margin 0 32px
		width 60px
	.rtngdet-rat
		color #999
		float left
		font-family family5
		font-size 12px
		line-height 12px
		padding-top 2px
.rtngdet-starts
	font-size 14px
	&.start-bad
		color #ef1688
	&.start-regular
		color #f9cc3d
	&.start-good
		color #93db2c
	&.start-excellent
		color #2add66
	.glyph-favorites
		margin-left 6px
		vertical-align top
		&:first-child
			margin 0
//shortstyl
.fr
	float right
.fl
	float left
/*
*	Modal Alert
*/
.tplAlert
	border-radius 5px
	background #fff
	font-family family4
	padding-bottom 20px
	width 700px
	.control
		margin-top 25px
		margin-right -20px
.modalHead
	background #00bcba
	border-radius 5px 5px 0 0
	height 52px
	width 100%
	margin-bottom 40px
	.mhLogo
		background url(routImg+"coomunaHome.png") no-repeat
		width 113px
		height 27px
		margin 0 auto
.modalIcon
	i
		background blue
		border-radius 45px
		color #fff
		font-size 20px
		height 45px
		line-height 45px
		margin-right 10px
		text-align center
		width 45px
	.glyph-delete
		background none
		font-size 46px
.modalMsg
	h3
		color #4d4d4d
		margin-bottom 8px
		font-size 16px
	p
		color #b9b9b9
		font-size 14px

//others
.r-bord-grey
	border-right 1px solid #efefef
.fav-red
	color #ef1688
.fav-orange
	color #f7be59
.fav-yellow
	color #f9e600
.fav-green1
	color #a5e14f
.fav-green2
	color #30de6a
.bgGrey
	background #f2f2f2
//loader
.profile-charge
	background #3ad0ce
	height 100%
	left 0
	opacity 0.5
	position absolute
	top 0
	width 0
	z-index 2
.remove
	display none !important
.cboCompanies
	font-family "HelveticaNeue", Arian, sans-serif
	color #808080
.center
	margin 0 auto
.charLeft
	color #f00
	font-style italic
	font-size 11px
	font-family family4
//borders
.brblack
	border-right 1px solid #000
.blgrey
	border-left 1px solid #404040

/**
*
* Section for web
*
**/
.onBall
	background none repeat scroll 0 0 #ffc617
	border-radius 20px
	color #000
	font-size 8px
	height 20px
	line-height 24px
	margin 2px 0 0 5px
	padding 0 0 0 1px
	text-align center
	width 20px
.color1
	color color1 !important
/**
*
* Popup
*
**/
.custoPop
	background #fff
	border 1px solid #cfcfcf
	border-radius 5px
	box-shadow 1px 1px 7px 0px #000000
	box-sizing border-box
	display none
	margin 5px 0 0 41px
	padding-bottom 5px
	position relative
	width 241px
	z-index 2
	.actionsCusto
		border-bottom 1px solid color2
		padding 9px 14px 7px
		h4
			line-height 20px
			color #232323
			font-size 16px
		input
			background #e6e6e6
			color #000
			height 26px
			padding 5px 8px
			border none
			font-family family1
			width 216px
		.input-form
			position relative
			margin-top 5px
		.searchBtn
			background #303030
			color color1
			border-radius 3px
			height 20px
			width 22px
			position absolute
			top 3px
			right 0
			text-align center
			i
				margin 0
				line-height 19px
	.custoList
		padding 8px 0
		li
			width 100%
			height 20px
			line-height 24px
			font-family family1
			color #777777
	&.calPop
		margin-left -73px
		.actionsCusto
			border 0
	&.statsPop
		margin-left -84px
		select
			background #e6e6e6
			font-family family1
			border 0
			border-radius 4px
		.actionsCusto
			border 0
	&.amountPop
		margin-left -63px
		.searchBtn
			width 216px
			height 29px
			position relative
			margin-top 4px
			i
				position relative
				line-height 29px
		.actionsCusto
			border 0
.popTip
	position absolute
	top -25px
	left 0
	right 0
	margin 0 auto