/*
*	Responsive.styl
*/
.columns-9 .box-center
	width 2250px
.columns-8 .box-center
	width 2000px
.columns-7 .box-center
	width 1750px
.columns-6 .box-center
	width 1500px
.columns-5 .box-center
	width 1250px
.columns-4 .box-center
	width 1000px


/*.columns-9
	.frm-account
		.gritItems, .grid-filter
			width 1772px
.columns-8
	.frm-account
		.gritItems, .grid-filter
			width 1516px
.columns-7
	.frm-account
		.gritItems, .grid-filter
			width 1260px
.columns-6
	.frm-account
		.gritItems, .grid-filter
			width 1004px
.columns-5,.columns-4*/
.frm-account
	.gritItems, .grid-filter
		width 748px