/**
* Sprites CSS
* @class sprites
* @module sprites.css
*/
.glyph-icon
	vertical-align top
	transition all 0.3s ease
.sprite
	background url(routImg+"icon-set.png")
	display block
	&.icArrow1
		spritePosition($iicArrow1)
		spriteWidth($iicArrow1)
		spriteHeight($iicArrow1)
	&.icArrow2
		spritePosition($icArrow2)
		spriteWidth($icArrow2)
		spriteHeight($icArrow2)
	&.icCboicon2
		spritePosition($icCboicon2)
		spriteWidth($icCboicon2)
		spriteHeight($icCboicon2)
	&.icCboicon1
		spritePosition($icCboicon1)
		spriteWidth($icCboicon1)
		spriteHeight($icCboicon1)
	&.icFacebook
		spritePosition($icFacebook)
		spriteWidth($icFacebook)
		spriteHeight($icFacebook)
	&.icFacebookfooter
		spritePosition($icFacebookfooter)
		spriteWidth($icFacebookfooter)
		spriteHeight($icFacebookfooter)
	&.icGooglefooter
		spritePosition($icGooglefooter)
		spriteWidth($icGooglefooter)
		spriteHeight($icGooglefooter)
	&.icSearch
		spritePosition($icSearch)
		spriteWidth($icSearch)
		spriteHeight($icSearch)
	&.icSocialfooter
		spritePosition($icSocialfooter)
		spriteWidth($icSocialfooter)
		spriteHeight($icSocialfooter)
	&.icTwitter
		spritePosition($icTwitter)
		spriteWidth($icTwitter)
		spriteHeight($icTwitter)
	&.icTwitterfooter
		spritePosition($icTwitterfooter)
		spriteWidth($icTwitterfooter)
		spriteHeight($icTwitterfooter)
	&.icYoutube
		spritePosition($icYoutube)
		spriteWidth($icYoutube)
		spriteHeight($icYoutube)
	&.icYoutubefooter
		spritePosition($icYoutubefooter)
		spriteWidth($icYoutubefooter)
		spriteHeight($icYoutubefooter)
	&.icMusic
		spritePosition($icMusic)
		spriteWidth($icMusic)
		spriteHeight($icMusic)
	&.icFacebookhome
		spritePosition($icFacebookhome)
		spriteWidth($icFacebookhome)
		spriteHeight($icFacebookhome)
	&.icTwitterhome
		spritePosition($icTwitterhome)
		spriteWidth($icTwitterhome)
		spriteHeight($icTwitterhome)
	&.icYoutubehome
		spritePosition($icYoutubehome)
		spriteWidth($icYoutubehome)
		spriteHeight($icYoutubehome)
	&.icSearchome
		spritePosition($icSearchome)
		spriteWidth($icSearchome)
		spriteHeight($icSearchome)
	&.icMail
		spritePosition($icMail)
		spriteWidth($icMail)
		spriteHeight($icMail)
	&.icCboarrow
		spritePosition($icCboarrow)
		spriteWidth($icCboarrow)
		spriteHeight($icCboarrow)
	&.icCalendarwhite
		spritePosition($icCalendarwhite)
		spriteWidth($icCalendarwhite)
		spriteHeight($icCalendarwhite)
	&.icCalendarceleste
		spritePosition($icCalendarceleste)
		spriteWidth($icCalendarceleste)
		spriteHeight($icCalendarceleste)
	&.icCerrar
		spritePosition($icCerrar)
		spriteWidth($icCerrar)
		spriteHeight($icCerrar)
	&.icHora
		spritePosition($icHora)
		spriteWidth($icHora)
		spriteHeight($icHora)
	&.icPrecio
		spritePosition($icPrecio)
		spriteWidth($icPrecio)
		spriteHeight($icPrecio)
	&.icLugar
		spritePosition($icLugar)
		spriteWidth($icLugar)
		spriteHeight($icLugar)
	&.icUbicacion
		spritePosition($icUbicacion)
		spriteWidth($icUbicacion)
		spriteHeight($icUbicacion)
	&.icMailcontacto
		spritePosition($icMailcontacto)
		spriteWidth($icMailcontacto)
		spriteHeight($icMailcontacto)
	&.icTelefono
		spritePosition($icTelefono)
		spriteWidth($icTelefono)
		spriteHeight($icTelefono)
	&.icFacebookcontacto
		spritePosition($icFacebookcontacto)
		spriteWidth($icFacebookcontacto)
		spriteHeight($icFacebookcontacto)
	&.icTwittercontacto
		spritePosition($icTwittercontacto)
		spriteWidth($icTwittercontacto)
		spriteHeight($icTwittercontacto)
	&.icYoutubecontacto
		spritePosition($icYoutubecontacto)
		spriteWidth($icYoutubecontacto)
		spriteHeight($icYoutubecontacto)
	&.icGooglecontacto
		spritePosition($icGooglecontacto)
		spriteWidth($icGooglecontacto)
		spriteHeight($icGooglecontacto)
	&.icCategoria
		spritePosition($icCategoria)
		spriteWidth($icCategoria)
		spriteHeight($icCategoria)
	&.icDate
		spritePosition($icDate)
		spriteWidth($icDate)
		spriteHeight($icDate)
	&.icDuracion
		spritePosition($icDuracion)
		spriteWidth($icDuracion)
		spriteHeight($icDuracion)
	&.icAge
		spritePosition($icAge)
		spriteWidth($icAge)
		spriteHeight($icAge)
	&.icAvenue
		spritePosition($icAvenue)
		spriteWidth($icAvenue)
		spriteHeight($icAvenue)
	&.icPrint
		spritePosition($icPrint)
		spriteWidth($icPrint)
		spriteHeight($icPrint)
	&.icCopy
		spritePosition($icCopy)
		spriteWidth($icCopy)
		spriteHeight($icCopy)
	&.icExpandImg
		spritePosition($icExpandImg)
		spriteWidth($icExpandImg)
		spriteHeight($icExpandImg)
.isprite
	background url(routImg+"icon-set.png")
	display inline-block
	vertical-align top
	&.icAddressPin
		spritePosition($icAddressPin)
		spriteWidth($icAddressPin)
		spriteHeight($icAddressPin)
	&.icAddressPinGrey
		spritePosition($icAddressPinGrey)
		spriteWidth($icAddressPinGrey)
		spriteHeight($icAddressPinGrey)
	&.icFacebookcontacto
		spritePosition($icFacebookcontacto)
		spriteWidth($icFacebookcontacto)
		spriteHeight($icFacebookcontacto)
	&.icTwittercontacto
		spritePosition($icTwittercontacto)
		spriteWidth($icTwittercontacto)
		spriteHeight($icTwittercontacto)
	&.icYoutubecontacto
		spritePosition($icYoutubecontacto)
		spriteWidth($icYoutubecontacto)
		spriteHeight($icYoutubecontacto)
	&.icGooglecontacto
		spritePosition($icGooglecontacto)
		spriteWidth($icGooglecontacto)
		spriteHeight($icGooglecontacto)
	&.icHora
		spritePosition($icHora)
		spriteWidth($icHora)
		spriteHeight($icHora)
	&.icPrecio
		spritePosition($icPrecio)
		spriteWidth($icPrecio)
		spriteHeight($icPrecio)
	&.icLugar
		spritePosition($icLugar)
		spriteWidth($icLugar)
		spriteHeight($icLugar)