footer
    .footer-home
        .contenido-footer
            .logo-footer
                img(src!="<?php echo STATIC_URL ?>/img/logohome.png")
                br
                span Copyright © 2014- La Boleteria
            .newsletter
                p Subscribe to our Newsletter
                form
                    input(type="text",name="newsletter",id="newsletter",placeholder="Enter Your Email")
                    button(id="subscribe") Subscribe
            .help
                span Do need help?
                br
                a(href="javascript:;") Contact Us
            .clear