header.home-inicio
    .container-header
        .menu-interno
            nav
                ul
                    li.linea
                        a(href="javascript:;",class="active") Inicio
                    li.linea
                        a(href="javascript:;") Como Comprar
                    li
                        a(href="javascript:;") Preguntas y Respuestas
        .usuario
            span Welcome back , &nbsp
            strong Ressia &nbsp
            span.logout Logout
        .redes-home
            ul
                li
                    a(href="javascript:;")
                        i.sprite.icFacebookhome
                li
                    a(href="javascript:;")
                        i.sprite.icTwitterhome
                li
                    a(href="javascript:;")
                        i.sprite.icYoutubehome
        .clear
        .contenido-logo
            h1
                img(src!="<?php echo STATIC_URL ?>/img/logointerno.png")
            .menu-principal
                ul
                    li.linea
                        a(href="javascript:;",class="active") EVENTOS
                    li.linea
                        a(href="javascript:;") NOTICIAS
                    li
                        a(href="javascript:;") CONTACTO
            .buscar-home
                form
                    input(type="text",id="buscarEvento", placeholder="Search")
                    i.sprite.icSearchome
            .clear
    .clear