script(type="text/javascript", src="js/vendor/vendor.js")
script(type="text/javascript", src="js/plugins/jqUI.js")
script(type="text/javascript", src="js/plugins/jqUnderscore.js")
script(type="text/javascript", src="js/plugins/jqFile.js")
script(type="text/javascript", src="js/plugins/jqDatatable.js")
script(type="text/javascript", src="js/plugins/highcharts.js")
script(type="text/javascript", src="js/plugins/tinyCarrousel.js")
script(type="text/javascript", src="js/plugins/jqHighlight.js")
script(type="text/javascript", src="js/plugins/src-min-noconflict/ace.js")
script(type="text/javascript", src="js/library/library.js")