.bx-wrapper
  position: relative
  padding 0px
  margin 0px
  *zoom:1
  img
    max-width 100%
    display block
.bx-wrapper .bx-loading
  min-height 50px
  background url(routImg+"hloader.gif") center center no-repeat
  height 100%
  width  100%
  position absolute
  top 0
  left 0px
  z-index 2000
.bx-wrapper .bx-caption
  position absolute
  bottom 0
  left 0
  background #666\9
  background rgba(80, 80, 80, 0.75)
  width 100%
.bx-wrapper .bx-caption span
  color #fff071
  display block
  font-family 13px
  padding 10px

.bx-wrapper .bx-prev
  left 10px
  background url(routImg + "controls.png") no-repeat 0 -32px
.bx-wrapper .bx-next
  right 10px
  background url(routImg + "controls.png") no-repeat -43px -32px
.bx-wrapper .bx-prev:hover
  background-position 0 0
.bx-wrapper .bx-next:hover
  background-position -43px 0
.bx-wrapper .bx-controls-direction a
  position absolute
  top 50%
  margin-top -16px
  outline 0
  width 32px
  height 32px
  text-indent -9999px
  z-index 9999
.bx-wrapper .bx-controls-direction a.disabled
  display none
.bx-pager.bx-default-pager
  display none
.bx-controls-auto
  display none