/**
* Plugin jqTinyScroll - jqTinyScroll.js
* @class Plugin jqTinyScroll
* @module helpers.css
*/
.viewport
	overflow hidden
	position relative
.overview
	left 0
	list-style none
	position absolute
	top 0
.thumb .end, .thumb
	background-color #B1B1B1
.scrollbar
	border 1px solid #CBC8C8
	float right
	position relative
	width 10px
.track
	background #FFF
	box-shadow 1px 1px 6px rgba(211, 208, 208, 0.7) inset
	height 100%
	padding 0 1px
	position relative
	width 8px
.thumb
	border-radius 5px
	cursor pointer
	height 20px
	overflow hidden
	position absolute
	top 0
	width 8px
.thumb .end
	height 5px
	overflow hidden
	width 10px
.noSelect
	user-select none
	-o-user-select none
	-moz-user-select none
	-khtml-user-select none
	-webkit-user-select none