/**
* Plugin Loader - Utils.js
* @class Plugin Loader
* @module helpers.css
*/
.loader-lock
	width auto
	body
		overflow hidden !important
.loader
	background url(routImgLoader+"opacity.png")
	height 100%
	left 0
	position absolute
	top 0
	width 100%
	z-index 990
	span
		background url(routImgLoader+"loader.gif")
		height 32px
		left 50%
		margin -16px 0 0 -16px
		position absolute
		top 50%
		width 32px
.ublock
	background url(routImgLoader+"opacity.png")
	height 100%
	left 0
	position absolute
	top 0
	width 100%