<!doctype html>
<!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7" lang="es"> <![endif]-->
<!--[if IE 7]>    <html class="lt-ie9 lt-ie8" lang="es"> <![endif]-->
<!--[if IE 8]>    <html class="lt-ie9" lang="es"> <![endif]-->
<!--[if gt IE 8]> <html lang="es"> <![endif]-->
<?php echo $this->render('admin/renders/_head'); ?>
body
	<?php echo $this->render('admin/renders/_header'); ?>
	<?php echo $this->content; ?>
	<?php echo $this->inlineScript(); ?>
	script(type="text/javascript", src!="<?php echo  $this->LinkStatic('js/vendor/vendor.js'); ?>")
	script(type="text/javascript", src!="<?php echo  $this->LinkStatic('js/library/library.js'); ?>")

	