/**
* General Section
* @class General
* @module style.css
*/
body
	background #000
	color white
	cursor default
	font-family family1
	height 100%
	line-height 1
	margin 0
	min-height 640px
	min-width 1024px
	position relative
	width 100%
h1,h2,h3,h4,h5
	font-weight 400
	margin 0
	padding 0
button
	border none
	background #fd9700
	height 45px
	width 125px
	border-radius 5px
	color white
	font-family family2
textarea
	resize none
	padding 9px
	border none
	box-sizing border-box
	font-family family4
	font-size 14px
ul,li
	list-style none
	margin 0
	padding 0
a
	text-decoration none
	outline 0 !important
p
	margin 0
dl,dt,dd
	margin 0
input[type="text"],input[type="password"],select
	border-radius 4px
	box-sizing border-box
	width 100%
	font-family family3
textarea
	width 100%
	border none
	border-radius 4px
select
	padding 5px 9px
	width 212px
	height 45px
	margin-right 10px
	color #aaaaaa
	font-size 14px
hr
	border none
	border-top 2px solid #cbcbcb
