/**
* Header Section
* @class Header
* @module style.css
*/

header
	width 1176px
	z-index 12
	margin 0px auto
	padding-top 27px
header h1
	float left
.menu-home
	float right
	width 273px
	font-size 16px
	position relative
	top 5px
.icono-search
	position relative
	top 11px
.menu-home  ul li
	display inline-block
	margin-right 19px
.menu-home ul li a
	color white
.clear
	clear both
.contenido-slider
	text-align center
.home-inicio
	width 100%
	padding-top 20px
	background #212121
.container-header
	width 970px
	margin 0px auto
.menu-interno
	float left
	nav ul li
		float left
		margin-right  15px
		a
			color #757575
			font-size 13px
.usuario,.redes-home
	float right
	font-family family3
.active
	color #2ea4c3 !important
.linea
	border-right 1px solid #3e3e3e
	padding-right 15px
.redes-home ul li
	float left
	margin-right 10px
.usuario
	margin-left 15px
	font-size 13px
	color #757575
	position relative
	top 4px
	strong
		color white
.contenido-logo
	padding-top 20px
	padding-bottom 20px
.menu-principal
	margin-left 270px
	font-size 12px
	float left
	position relative
	top 18px
	ul li
		float left
		margin-right 15px
		a
			color #757575
.buscar-home
	float left
	position relative
	top 9px
	margin-left 70px
	input
		border none
		background #000000
		color #757575
		font-size 13px
		padding 10px 0 10px 14px
	i
		position absolute
		right 8px
		top 9px
.logout
	border-left 1px solid #3e3e3e
	padding-left 5px