.contenido-search
  width 100%
  height 132px
  background #4e4e4e
.container-search
  width 1176px
  margin 0px auto
  padding-top 43px
.slider-home
  width 1310px
  margin 0px auto
.entrada
  position absolute
  top 50%
  left 11%
  a
    color white
    background #fd8700
    padding 14px 15px
    border-radius 5px 5px
.box-input
  width 167px
  margin-right 8px
  display inline
  position relative
  input
    height 35px
    padding 5px 9px
    width 167px
    border-radius 5px 5px
    border none
    color #aaaaaa
    font-size 14px
  i
    position absolute
    top 5px
    right 10px
.menu-categorias
  height 110px
  width 100%
  text-align center
.listado-categorias li
  float left
  width 12.5%
  text-align center
  padding-top 24px
  padding-bottom 24px
  a
    color white
    img
      margin-bottom 10px
.categoria1
  background color1
.categoria2
  background color2
.categoria3
  background color3
.categoria4
  background color4
.categoria5
  background color5
.categoria6
  background color6
.categoria7
  background color7
.categoria8
  background color8
.subcripcion
  width 100%
  background url(routImg+"fondonew.png")
.container-sub
  width 1176px
  margin 0px auto
  padding-top 35px
  padding-bottom 5px
  p
    font-size 21px
    float left
    font-family family2
  input
    float left
    width 382px
    padding 5px 12px
    height 50px
    position relative
    top -15px
    margin-left 2%
    border none
  button
    margin-left 2%
    position relative
    top -13px
    width 107px
footer
  width 100%
.container-footer
  width 1176px
  margin 0px auto
  padding-top 21px
.info1
  width 200px
  float left

.info1 p
  font-size 18px
  padding-bottom 19px
.info1 ul
  font-size 14px
  color #aaaaaa
  padding-bottom 43px
  li
    padding-bottom 15px
.redes
  width 427px
  float left
  p
    font-size 18px
    padding-bottom 18px
  ul li
    float left
    margin-right 1.5%
.info-final
  float left
  padding-top 60px
.resenia
  width 1176px
  margin 0px auto
  padding-bottom 18px
  p
    float left
.terminos
  float right
  width 265px
  ul li
    float left
    margin-right 10px
    a
      color white
.raya
  border-right 2px solid
  padding-right 10px
.contenido-eventos
  width 100%
  background #e5e7ea
.container-eventos
  width 1200px
  margin 0px auto
  padding-top 74px
.box
  float left
  width 370px
  margin-right 29px
  margin-bottom 35px
  background white
  color #aaaaaa
  position relative
.subtitulo
  width 100%
  p
    width 251px
    color white
    text-transform uppercase
    height 17px
    padding 7px 10px
    float left
.social-box
  float left
  margin-left 2px
.contenido-box
  margin-top 19px
  padding-left 21px
  padding-right 19px
  font-size 13px
  font-family family3
  strong
    font-size 18px
    color #4e4e4e
.icono-fecha
  float left
  margin-right 10px
.espacio-box
  padding-top 15px
  padding-bottom 20px
  font-size 13px
  border-bottom 1px solid #e1e1e1
  margin-bottom 15px
.text-box
  line-height 18px
  margin-bottom 10px
.comprar-entradas
  float right
  color white
  background #fd9700
  width 138px
  padding 10px 5px
  text-align center
  border-radius 5px 5px
  margin-bottom 13px
.img-responsive
  max-width 100%
  margin-bottom 2px
.ribbon
  background-color #e10019
  color #fff
  font-size 16px
  font-weight bold
  text-transform uppercase
  min-width 12%
  position absolute
  padding  8px 24px
  left -20px
  top 23px
.ribbon:after
  border-color #ab0d1f #ab0d1f transparent transparent
  border-style solid
  border-width 5px 10px
  content ' '
  left 0
  height 0
  position absolute
  top 100%
  width 0
.img-subtitulo
  height 17px
  position relative
  top -2px
  margin-left 12px
  margin-right 10px